---
import LogoSlider from "@components/LogoSlider";
import "swiper/css";
const { logos } = Astro.props;
---

<section class="mt-14 pb-8">
  <div class="overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-md-12 animate from-right" data-aos="fade-right">
          <div class="border-y border-border py-5">
            <div class="section-title">
              <h2 class="title">Trusted By</h2>
            </div>
            <LogoSlider logos={logos} client:load />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
