---
import { Image } from "@astrojs/image/components";
import { markdownify } from "@lib/utils/textConverter";
const { service } = Astro.props;
---

<section class="section">
  <div class="container">
    {
      service.map((el: any, i: number) => (
        <div class="row mb-6 items-center justify-center">
          <div
            class={`lg:col-5 ${i % 2 !== 0 ? "order-1" : "order-0"}`}
            data-aos="fade-up"
          >
            <div class="mb-0">
              <div class="section-title text-left">
                <p
                  set:html={markdownify(el.subtitle)}
                  class="mb-4 text-[0.9rem] uppercase"
                />
                <h2 set:html={markdownify(el.title)} class="service-title" />
                <p
                  set:html={markdownify(el.description)}
                  class="text-[.9rem] text-text"
                />
              </div>
            </div>
          </div>
          <div
            class={`mt-4 lg:col-6 lg:mt-0 ${
              i % 2 !== 0 ? "order-0" : "order-1"
            }`}
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="pl-0 lg:pl-4">
              <Image
                src={el.image}
                height={511}
                width={575}
                class="max-w-full"
                alt="service"
              />
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
