---
import { Image } from "@astrojs/image/components";
import Logo from "./Logo.astro";
---

<div class="col-11 sm:col-10 md:col-7 lg:col-4" data-aos="fade-up">
  <div class="text-center">
    <div class="relative z-20 mb-8 flex justify-center">
      <Logo />
    </div>

    <p class="mb-4">
      Join Over 30000 Companys Validing<br />Proto Decision With Andromeda
    </p>
    <div class="mt-12 pt-12">
      <Image src="/images/signup.webp" width={436} height={376} alt="signup" />
    </div>
  </div>
</div>
