source_up

# export CLOUDFLARE_API_TOKEN="op://Employee/w3etxulw37bsqb2rsna5px7y4u/api-tokens/all-access"
export RUDDERSTACK_AUTH="op://sa-core-infrastructure/rudderstack/password"
export INFLUXDB_TOKEN="op://sa-core-infrastructure/influxdb/password"
