# DNS Management Requires Cloudflare "Root" Credentials
op signin --account rawkodeacademy.1password.eu

# Load CLOUDFLARE_ACCOUNT_ID from top-level
source_up

export CLOUDFLARE_API_TOKEN="op://private/cloudflare/api-tokens/all-access"
export CF_API_TOKEN="op://private/cloudflare/api-tokens/all-access"
export GANDI_KEY="op://private/gandi/credential"
export PG_CONN_STR="postgresql://terraform:$(op read op://sa-core-infrastructure/cockroachdb-terraform-state/password)@terraform-state-backend-9122.8nj.cockroachlabs.cloud:26257/terraform-state-backend-9122.defaultdb?sslmode=require"
