title "BDD Test Automation"
show "rawkode-live"
published-at "2021-01-19T13:00:00+00:00"
youtube-id "dc6A930goAU"
youtube-category 24
links {
    link "rawkode.live"
    link "rawkode.live/chat"
    link "twitter.com/ciaranmcnulty"
    link "github.com/ciaranmcnulty"
    link "ciaranmcnulty.com"
    link "www.rust-lang.org/"
    link "twitter.com/rustlang"
    link "github.com/rust-lang/rust"
    link "gitlab.com/rawkode/gitsync"
    link "github.com/bbqsrc/cucumber-rust"
}
chapters {
    chapter time="00:00" title="Holding Screen"
    chapter time="00:45" title="Introductions"
    chapter time="02:00" title="Background / Context"
    chapter time="08:20" title="Reviewing Our Feature File"
    chapter time="15:30" title="Writing Acceptance Tests with Cucumber Rust"
}
