source_up

op signin --account rawkodeacademy

export NODE_ENV="dev"
export CLOUDFLARE_API_TOKEN=op://cms.rawkode.academy/cloudflare/credential
export CLOUDFLARE_IMAGE_DELIVERY_URL="https://imagedelivery.net/p0RyJd6dAskUwA0LD0dNNg"

export DNS_NAME="http://localhost:3000"
export MONGODB_URI=mongodb://127.0.0.1/cms
export PAYLOAD_SECRET=super-secret
export OAUTH_BASE_URL="https://github.com"
export OAUTH_CLIENT_ID="op://cms.rawkode.academy/GitHub/username"
export OAUTH_CLIENT_SECRET="op://cms.rawkode.academy/GitHub/password"
