op signin --account rawkodeacademy

export NODE_ENV="dev"
export CLOUDFLARE_API_TOKEN=op://sa.rawkode.academy/cloudflare/api

export APPSETTING_DNS_NAME="http://localhost:3000"
export APPSETTING_MONGODB_URI=mongodb://127.0.0.1/cms
export APPSETTING_PAYLOAD_SECRET=super-secret
export APPSETTING_OAUTH_BASE_URL="https://github.com"
export APPSETTING_OAUTH_CLIENT_ID="op://cms.rawkode.academy/GitHub/username"
export APPSETTING_OAUTH_CLIENT_SECRET="op://cms.rawkode.academy/GitHub/password"
