---
import CalCom from "../../components/calcom";
import Page from "../../wrappers/page.astro";
---

<style>
	h1,
	h2,
	h3 {
		@apply mt-8 mb-4;
	}

	h1 {
		@apply text-4xl tracking-tight font-bold text-gray-900 dark:text-white;
	}
</style>

<Page title="Let's Chat">
	<h1>Let's Chat</h1>

	<p class="mb-4 dark:text-gray-400">
		Whether you want to discuss sponsorships, collaborations, content, consulting, training, Kubernetes, or anything in-between; let's find some time and work it out together.
	</p>

	<CalCom client:only="react" />
</Page>
