---
import FAQ from "@/components/faq/list.vue";
import FeatureListIcons from "@/components/feature/list-icons.vue";
import PartnerLogos from "@/components/partner/logos-solo.astro";
import Pricing from "@/components/partner/pricing/cards.vue";
import Featured from "@/components/partner/pricing/featured.vue";
import VsConference from "@/components/partner/vs-conference.astro";
import Stats from "@/components/stats/simple.vue";
import Testimonial from "@/components/testimonial/single.astro";
import Center from "@/components/title/center.astro";
import H2Highlight from "@/components/title/h2-highlight.vue";
import Page from "@/wrappers/page.astro";
---

<style>
	hr {
		@apply bg-gradient-to-r from-primary to-secondary;
		@apply h-2 md:mx-32;
	}
</style>

<Page
	title="Let's Partner Together"
	description="We can accelerate the growth of developers and your product."
>
	<Center title="Rawkode Academy Partnerships" />
	<H2Highlight
		title="We can accelerate the growth of developers and your product."
		highlightWords="growth developers product"
	/>

	<FeatureListIcons />

	<hr class="mt-12" />
	<Stats
		title="We make content developers love"
		stats={[
			{
				label: "Technologies Covered",
				value: "90+",
			},
			{
				label: "Hours of Content Produced",
				value: "500+",
			},
			{
				label: "Views",
				value: "1M+",
			},
		]}
	/>
	<Testimonial />

	<hr />

	<PartnerLogos />
	<VsConference />

	<hr />

	<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
		<div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
			<h2
				class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
			>
				Partnership Plans
			</h2>
			<p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">
				It doesn't matter if you're here to support our mission or because you
				need help with go to market, product market fit, developer marketing, or
				straight up content; we have plans for all use-cases.
			</p>
		</div>

		<div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
			<p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">
				The Rawkode Academy is proudly brought to you from Glasgow, Scotland. As
				such, our plans reflect a little bit of our heritage and culture.
			</p>
			<p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">
				🏴󠁧󠁢󠁳󠁣󠁴󠁿 🥃
			</p>
		</div>

		<Featured />
		<Pricing />
	</div>

	<hr />
	<FAQ />
</Page>
