---
import type { CollectionEntry } from "astro:content";

type Props = {
	series: CollectionEntry<"series">;
};

const { series } = Astro.props;
---

<a href={`/series/${series.id}`}>
	<article
		class="p-4 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
	>
		<img
			class="mb-5 rounded-lg w-full"
			src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/blog/office-laptops.png"
			alt="office laptop working"
		/>
		<span
			class="bg-purple-100 text-purple-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-purple-200 dark:text-purple-900"
			>Series</span
		>
		<h2
			class="my-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
		>
			{series.data.title}
		</h2>
	</article>
</a>
