source_up

export SERVICE_NAME="content"
export DENO_ALLOWED_ENV="LIBSQL_BASE_URL,LIBSQL_URL,LIBSQL_TOKEN,NODE_ENV,$DENO_BASE_ENV"
export CLOUDFLARE_R2_ACCESS_KEY="op://Employee/w3etxulw37bsqb2rsna5px7y4u/rawkode-academy-videos/access-key"
export CLOUDFLARE_R2_SECRET_KEY="op://Employee/w3etxulw37bsqb2rsna5px7y4u/rawkode-academy-videos/secret-key"
export LIBSQL_TOKEN="op://sa.rawkode.academy/turso/platform-group/api-token"
