export SCW_DEFAULT_ORGANIZATION_ID="b07462e9-1a00-43b4-a6a8-6e3004a31984"
export SCW_ACCESS_KEY="op://sa-core-infrastructure/scaleway/username"
export SCW_SECRET_KEY="op://sa-core-infrastructure/scaleway/password"
export TF_HTTP_PASSWORD="op://sa-core-infrastructure/cloudflare/terraform-state-backend/password"
