---
import Layout from "../layouts/page.astro";
const breadcrumbs = [
  {
    title: "Let's Collaborate",
    href: "/work-together",
  },
];
---

<Layout title="Want to chat?" breadcrumbs={breadcrumbs}>
  <div id="contact-form"></div>

  <script
    charset="utf-8"
    type="text/javascript"
    src="//js-eu1.hsforms.net/forms/embed/v2.js"
  ></script>
  <script>
    hbspt.forms.create({
      region: "eu1",
      portalId: "26236635",
      formId: "c54f0c4c-0508-4ff6-8bae-2a2790c98020",
      target: "#contact-form",
    });
  </script>
</Layout>
