---
import Layout from "../layouts/page.astro";
const breadcrumbs = [
  {
    title: "Want To Work Together?",
    href: "/work-together",
  },
];
---

<Layout title="Want to Work Together?" breadcrumbs={breadcrumbs}>
  <!-- Start of Meetings Embed Script -->
  <div
    class="meetings-iframe-container"
    data-src="https://connect.rawkode.academy/meetings/rawkode/lets-collaborate?embed=true"
  >
  </div>
  <script
    type="text/javascript"
    src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"
  ></script>
  <!-- End of Meetings Embed Script -->
</Layout>
