---
import Layout from "../layouts/page.astro";
const breadcrumbs = [
  {
    title: "Want To Work Together?",
    href: "/work-together",
  },
];
---

<Layout title="Want to Work Together?" breadcrumbs={breadcrumbs}>
  <div id="booking-page"></div>

  <script is:inline>
    window.SavvyCal =
      window.SavvyCal ||
      function () {
        (SavvyCal.q = SavvyCal.q || []).push(arguments);
      };
  </script>
  <script async src="https://embed.savvycal.com/v1/embed.js"></script>
  <script is:inline>
    SavvyCal("init");
    SavvyCal("inline", {
      link: "RawkodeAcademy/introduction",
      selector: "#booking-page",
    });
  </script>
</Layout>
