---
import Layout from "../layouts/base.astro";
---

<Layout title="Work Together">
  <main>
    <h2>Want to Work Together?</h2>

    <div id="my-reform"></div>

    <script id="reform-script" src="https://embed.reform.app/v1/embed.js"
    ></script>

    <script>
      window.Reform =
        window.Reform ||
        function () {
          (Reform.q = Reform.q || []).push(arguments);
        };
    </script>
    <script>
      Reform("init", {
        url: "https://forms.reform.app/rawkode/lets-work-together/f4ecca",
        target: "#my-reform",
        background: "transparent",
      });
    </script>
  </main>
</Layout>
