---
import Page from "@/wrappers/page.astro";
//const videoId = "8cd78ca6cb3556a88bc83eadb9375fde";
//const youTubeId = "hbdURAMgCF8";
//const posterUrl = encodeURIComponent(
//	`https://i3.ytimg.com/vi/${youTubeId}/maxresdefault.jpg`
//);
---

<Page title="Live">
	<h1 class="text-5xl font-extrabold dark:text-white">Live</h1>

	<p class="text-gray-500 dark:text-gray-400">Stay tuned!</p>
</Page>
