---
import Page from "@/wrappers/page.astro";
//const videoId = "8cd78ca6cb3556a88bc83eadb9375fde";
//const youTubeId = "hbdURAMgCF8";
//const posterUrl = encodeURIComponent(
//	`https://i3.ytimg.com/vi/${youTubeId}/maxresdefault.jpg`
//);
---

<Page title="Live">
	<h1>Live</h1>

	<p>Stay tuned!</p>
</Page>
