---
import DefaultHead from "@components/html/head.astro";
import DefaultLayout from "@layouts/app.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<style is:global>
	main {
		@apply mx-auto pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased;

		/* ml-64 for when screens are big enough to show sidebar
		 * pt-16 to keep the content below the static navbar
		 */
		@apply ml-0 pt-16 md:ml-64;
	}

	h1,
	h2,
	h3 {
		@apply mt-8 mb-4;
	}

	h1 {
		@apply mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white;
	}

	h2 {
		@apply text-2xl font-semibold text-gray-900 dark:text-white;
	}

	h3 {
		@apply text-xl text-gray-900 dark:text-white;
	}
</style>

<!DOCTYPE html lang="en">
	<DefaultHead title={title}>
		<slot name="extra-head" slot="extra-head" />
	</DefaultHead>

	<body class="h-full w-full mx-auto  max-w-screen-xl bg-white dark:bg-black">
		<slot name="layout">
			<DefaultLayout>
				<slot />
			</DefaultLayout>
		</slot>
		<script>
			import "flowbite";
		</script>
	</body>
</html>
