source_env_if_exists .env.local

export SOPS_AGE_KEY=${SOPS_AGE_KEY_LOCAL}

export TERRAFORM_BACKEND_URL="https://terraform-state-backend.rawkode-academy.workers.dev"
export TERRAFORM_BACKEND_BUCKET_NAME="rawkode-cloud-tfstate"
