export CLOUDFLARE_ACCOUNT_ID="0aeb879de8e3cdde5fb3d413025222ce"
export TERRAFORM_BACKEND_URL="https://terraform-state-backend.rawkode-academy.workers.dev"
export TERRAFORM_BACKEND_BUCKET_NAME="rawkode-cloud-tfstate"
export GITLAB_TERRAFORM_STATE_URL="https://gitlab.com/api/v4/projects/60229704/terraform/state"

