source_env .flox/floxrc

if has flox;
then
	use_flox;
fi

export TERRAFORM_BACKEND_URL="https://terraform-state-backend.rawkode-academy.workers.dev"
export TERRAFORM_BACKEND_BUCKET_NAME="rawkode-cloud-tfstate"
export CLOUDFLARE_ACCOUNT_ID="op://Employee/w3etxulw37bsqb2rsna5px7y4u/api-tokens/account-id"

