# age / sops
.env.local

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# NodeJS
node_modules
dist

# Rust
target

# moon
.moon/cache
.moon/docker

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
