export R2_BUCKET_NAME="rawkode-academy-content"

export R2_ACCOUNT_ID="op://Employee/w3etxulw37bsqb2rsna5px7y4u/api-tokens/account-id"
export R2_ACCESS_KEY_ID="op://Employee/w3etxulw37bsqb2rsna5px7y4u/rawkode-academy-content/access-key-id"
export R2_SECRET_ACCESS_KEY="op://Employee/w3etxulw37bsqb2rsna5px7y4u/rawkode-academy-content/secret-access-key"
