source_up

op signin --account rawkodeacademy

export TF_TOKEN_app_terraform_io="op://sa-core-infrastructure.bootstrap/terraform-cloud/password"
export CLOUDFLARE_API_TOKEN="op://sa-core-infrastructure.bootstrap/cloudflare/password"
export GITHUB_CLIENT_ID="op://sa-core-infrastructure.bootstrap/github-rawkode-cloud/username"
export GITHUB_CLIENT_SECRET="op://sa-core-infrastructure.bootstrap/github-rawkode-cloud/password"
