source_up

export SERVICE_NAME="chapters"
export DENO_ALLOWED_ENV="LIBSQL_BASE_URL,LIBSQL_URL,LIBSQL_TOKEN,NODE_ENV,$DENO_BASE_ENV"

export LIBSQL_TOKEN="op://sa.rawkode.academy/turso/platform-group/api-token"
