export SUPABASE_URL="https://dbdcwdwghzqqnbhszfsk.supabase.co"
export SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRiZGN3ZHdnaHpxcW5iaHN6ZnNrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcwMTM0NzAyMCwiZXhwIjoyMDE2OTIzMDIwfQ.uecL3ZWn06WsAR1bATSyy5hAEx3F0Yg2Ih-g2pbZ7vI"
