---
import Posthog from "@/components/analytics/posthog.astro";
import type { OpenGraphProps } from "@/types/opengraph";
import Opengraph from "./opengraph.astro";
import Grafana from "./grafana.astro";

interface Props extends OpenGraphProps {}
---

<style is:global>
	@font-face {
		font-family: "Monaspace";
		src:
			url("/fonts/monaspaceneon.woff") format("woff2 supports variations"),
			url("/fonts/monaspaceneon.woff") format("woff2-variations");
		font-weight: 200 900;
		font-stretch: 75% 125%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-display;
	}

	body {
		@apply font-body;
	}

	pre,
	code,
	kbd,
	samp,
	tt {
		@apply font-mono;
	}
</style>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	<link rel="manifest" href="/site.webmanifest" />
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
	<meta name="msapplication-TileColor" content="#da532c" />
	<meta name="theme-color" content="#5F5ED7" />
	<meta
		name="description"
		content="The Rawkode Academy provides educational, entertaining, and cutting-edge learning paths for you, or your developers, to keep up with the fast-paced, ever-evolving, and extremely volatile Cloud Native landscape."
	/>

	<title>{Astro.props.title} | Rawkode Academy</title>

	<Opengraph {...Astro.props} />

	<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/avenir" />
	<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/orbitron" />
	<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/poppins" />
	<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/quicksand" />

	<link
		rel="preload"
		href="/fonts/monasans.woff2"
		as="font"
		type="font/woff2"
		crossorigin
	/>

	<link
		rel="preload"
		href="/fonts/monaspaceneon.woff"
		as="font"
		type="font/woff2"
		crossorigin
	/>

	<slot name="extra-head" />

	<link rel="sitemap" href="/sitemap-index.xml" />

	<Posthog />
	<Grafana />
</head>
