source_up

export CLOUDFLARE_API_TOKEN="op://private/cloudflare/api-tokens/all-access"
export RUDDERSTACK_AUTH="op://sa-core-infrastructure/rudderstack/password"
export INFLUXDB_TOKEN="op://sa-core-infrastructure/influxdb/password"
