---
import SeriesArticles from "@/components/articles/series/SeriesArticles.astro";
import Page from "@/wrappers/page.astro";
import type { GetStaticPaths, GetStaticPathsResult } from "astro";
import { getImage } from "astro:assets";
import { getCollection, render, type CollectionEntry } from "astro:content";

export const prerender = true;

type Props = {
	series: CollectionEntry<"series">;
};

const computeImageUrl = async (
	series: CollectionEntry<"series">,
): Promise<URL | undefined> => {
	if (series.data.cover) {
		const image = await getImage({ src: series.data.cover.image });

		return new URL(image.src, Astro.site);
	}

	return undefined;
};

export const getStaticPaths: GetStaticPaths =
	async (): Promise<GetStaticPathsResult> => {
		const seriesEntries = await getCollection("series");

		return seriesEntries.map((series) => {
			return {
				params: {
					slug: series.id,
				},
				props: {
					series,
				},
			};
		});
	};

const { series } = Astro.props;
const { Content } = await render(series);

const imageUrl = await computeImageUrl(series);
---

<Page title={`${series.data.title} | Series`} image={{image: imageUrl }}>
	<h1 class="text-5xl font-extrabold dark:text-white">
		{series.data.title}
	</h1>

	<article class="max-w-(--breakpoint-xl) format prose lg:prose-xl dark:format-invert">
		<Content />

		<h2 class="text-4xl font-bold dark:text-white">Articles</h2>

		<div class="not-format">
			<SeriesArticles series={series} />

		</div>
	</article>
</Page>
