export NODE_ENV=development
export PORT=3000

export MONGODB_URI=mongodb://localhost:27017
export PAYLOAD_SECRET=TESTING

export MONGODB_USERNAME=cms
export MONGODB_PASSWORD=cms

export MONGO_INITDB_ROOT_USERNAME=${MONGODB_USERNAME}
export MONGO_INITDB_ROOT_PASSWORD=${MONGODB_PASSWORD}
