source_up ../../../.envrc
source_up

op signin --account rawkodeacademy.1password.eu

export TF_HTTP_PASSWORD="op://sa-core-infrastructure/cloudflare/terraform-state-backend/password"
export CLOUDFLARE_API_TOKEN="op://private/cloudflare/api-tokens/all-access"

export ARM_SUBSCRIPTION_ID="op://sa-core-infrastructure/azure/subscriptionid"
export ARM_TENANT_ID="op://sa-core-infrastructure/azure/tenantid"
export ARM_CLIENT_ID="op://sa-core-infrastructure/azure/appid"
export ARM_CLIENT_SECRET="op://sa-core-infrastructure/azure/password"
