# Cloudflare R2 Configuration
export VIDEOS_ENDPOINT="https://0aeb879de8e3cdde5fb3d413025222ce.eu.r2.cloudflarestorage.com"
export VIDEOS_ACCESS_KEY="op://Employee/w3etxulw37bsqb2rsna5px7y4u/rawkode-academy-videos/access-key"
export VIDEOS_SECRET_KEY="op://Employee/w3etxulw37bsqb2rsna5px7y4u/rawkode-academy-videos/secret-key"
export VIDEOS_BUCKET="rawkode-academy-videos"

export CONTENT_ENDPOINT="https://0aeb879de8e3cdde5fb3d413025222ce.r2.cloudflarestorage.com"
export CONTENT_ACCESS_KEY="op://Employee/w3etxulw37bsqb2rsna5px7y4u/rawkode-academy-content/access-key-id"
export CONTENT_SECRET_KEY="op://Employee/w3etxulw37bsqb2rsna5px7y4u/rawkode-academy-content/secret-access-key"
export CONTENT_BUCKET="rawkode-academy-content"

# Cloudflare Cache API
export CLOUDFLARE_API_TOKEN="op://Employee/w3etxulw37bsqb2rsna5px7y4u/api-tokens/all-access"
export CLOUDFLARE_ZONE_ID="789be9a4588576db675cc2053ea3a89d"

if has devenv; then
  eval "$(devenv direnvrc)"
  use devenv;
fi

