---
import Layout from "../layouts/base.astro";
---

<Layout title="Contact">
  <main>
    <h2>Want to chat?</h2>

    <div id="my-reform"></div>

    <script>
      window.Reform =
        window.Reform ||
        function () {
          (Reform.q = Reform.q || []).push(arguments);
        };
    </script>
    <script id="reform-script" async src="https://embed.reform.app/v1/embed.js"
    ></script>
    <script>
      Reform("init", {
        url: "https://forms.reform.app/1gLM6Z/untitled-form/akd2rz",
        target: "#my-reform",
        background: "transparent",
      });
    </script>
</Layout>
