---
import Layout from "../layouts/base.astro";

import "../styles/homepage.css";
---

<Layout title="Rawkode Academy - The Cloud Native Education Platform">
  <section class="section--hero">
    <h1>The Cloud Native Education Platform</h1>
  </section>
  <section class="section--endorsements">
    <h2>Trusted by:</h2>
  </section>
  <section class="section--shows">
    <h2>Shows</h2>
  </section>
  <section>
    <h2>Lets work together</h2>
  </section>
</Layout>
