---
import Layout from "../layouts/base.astro";
import Header from "../layouts/header.astro";

import "../styles/homepage.css";

interface Show {
  name: string;
  id: string;
}

const response = await fetch("https://api.rawkode.academy/v1/graphql",
  {
    method: 'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `
        query MyQuery {
            getShows {
              id
              name
            }
          }
        `
    }),
  });

const json = await response.json();
const shows = json.data.getShows;
---

<Layout title="Rawkode Academy - The Cloud Native Education Platform">
  <div class="background">
    <Header style="alternative" />
    <section class="section--hero">
      <h1>The Cloud Native Education Platform</h1>
    </section>
  </div>
  <section class="section--shows">
    <h2>Shows</h2>
    {shows.map((show: Show) => <p>{show.name}</p>)}
  </section>
  <section class="section--endorsements">
    <h2>Trusted by:</h2>
  </section>
  <section class="section--work-together">
    <h2>Lets work together</h2>
    <p>With an insatiable love for technology, we are always on the hunt to learn and share knowledge with others in fun and exciting ways.</p>
    <a href="/work-together">Get in touch</a>
  </section>
</Layout>
