---
import Layout from "../layouts/page.astro";

const breadcrumbs = [{
  title: 'Want To Work Together?',
  href: '/work-together'
}]
---

<Layout title="Want to Work Together?" breadcrumbs={breadcrumbs}>
  <div id="my-reform"></div>

  <script id="reform-script" src="https://embed.reform.app/v1/embed.js"
  ></script>

  <script>
    window.Reform =
      window.Reform ||
      function () {
        (Reform.q = Reform.q || []).push(arguments);
      };
  </script>
  <script>
    Reform("init", {
      url: "https://forms.reform.app/rawkode/lets-work-together/f4ecca",
      target: "#my-reform",
      background: "transparent",
    });
  </script>
</Layout>
