---
type Props = {
	title: string;
};

const { title } = Astro.props;
---

<li aria-current="page">
	<div class="flex items-center">
		<svg
			class="rtl:rotate-180 w-3 h-3 text-gray-400 dark:text-gray-500 mx-2"
			aria-hidden="true"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 8 14"
		>
			<path
				stroke="currentColor"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"></path>
		</svg>
		<span
			class="text-sm font-semibold text-primary dark:text-primary"
			>{title}</span
		>
	</div>
</li>
