if nix flake show &> /dev/null; then
	watch_file flake.nix
	use flake
fi

export SUPABASE_URL="https://dbdcwdwghzqqnbhszfsk.supabase.co"
export SUPABASE_KEY="op://sa.rawkode.academy/supabase/anon-key"
