source_url "https://raw.githubusercontent.com/cachix/devenv/95f329d49a8a5289d31e0982652f7058a189bfca/direnvrc" "sha256-d+8cBpDfDBj41inrADaJt+bDWhOktwslgoP5YiGJ1v0="
use devenv

export CLOUDFLARE_API_TOKEN="op://sa.rawkode.academy/cloudflare/password"

export REDIRECT_URL="http://localhost:4321/auth/callback"
export WORKOS_CLIENT_ID="op://sa.rawkode.academy/workos-staging/username"
export WORKOS_API_KEY="op://sa.rawkode.academy/workos-staging/password"
export WORKOS_COOKIE_PASSWORD="op://sa.rawkode.academy/workos-staging/cookiePassword"
