if nix --version; then
	if nix flake show &> /dev/null; then
		watch_file flake.nix
		use flake
	fi
fi

export SUPABASE_PROJECT_ID="dbdcwdwghzqqnbhszfsk"
export SUPABASE_URL="https://${SUPABASE_PROJECT_ID}.supabase.co"
export SUPABASE_KEY="op://sa.rawkode.academy/supabase/service-key"
