---
import Logo from "./Logo.astro";
import MenuWithProfile from "./MenuWithProfile.astro";

// https://flowbite.com/blocks/marketing/header/#header-with-user-dropdown
---

<header>
	<nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
		<div
			class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
		>
			<Logo />

			<MenuWithProfile server:defer />
		</div>
	</nav>
</header>
