---
import type { OidcStandardClaimsWithRoles } from "@/lib/security";

type Props = {
	user: OidcStandardClaimsWithRoles | undefined;
};

const { user } = Astro.props;
---

{
	user ? (
		<div>
			<a
				href="/api/auth/logout"
				class="text-primary-600 dark:text-primary-500 ml-1 lg:ml-3 hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 lg:px-5 py-2 lg:py-2.5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
			>
				Logout
			</a>
		</div>
	) : (
		<a
			href="/api/auth/login"
			class="text-primary-600 dark:text-primary-500 ml-1 lg:ml-3 hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 lg:px-5 py-2 lg:py-2.5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
		>
			Login
		</a>
	)
}
