---
import { Image } from "astro:assets";
import logo from "@/assets/icon.svg";
---

<a href={Astro.site} class="flex items-center">
	<Image src={logo} alt="logo" class="mr-3 w-12 sm:w-12" />
	<span
		class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
		>RawkodeStudio</span
	>
</a>
