---
import Menu from "./Menu.astro";
import Profile from "./profile/Profile.vue";

const { user } = Astro.locals;
---

<div class="flex items-center lg:order-2">
	<Profile client:only="vue" user={user} />
</div>

<Menu />
