---
import type { OidcStandardClaimsWithRoles } from "@/lib/security";
import MenuItem from "./MenuItem.astro";

type Props = {
	user: OidcStandardClaimsWithRoles | undefined;
};

const { user } = Astro.props;

const isDirector = user?.roles.includes("director");
---

<div
	class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1"
	id="mobile-menu-2"
>
	<ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
		<MenuItem title="Home" path="/" />

		{isDirector && <MenuItem title="Admin" path="/admin" />}
	</ul>
</div>
