---
import ProfileButton from "./ProfileButton.astro";
import ProfileDropdown from "./ProfileDropdown.astro";
import LoginLogoutButton from "./LoginLogoutButton.astro";
import Menu from "./Menu.astro";
import MenuOpenButton from "./MenuOpenButton.astro";

const { user } = Astro.locals;
---

<div class="flex items-center lg:order-2">
	<ProfileButton user={user} client:load />
	<ProfileDropdown user={user} client:load />
	<LoginLogoutButton user={user} client:load />
	<MenuOpenButton client:load />
</div>

<Menu client:load />

<script>
	import "flowbite";
</script>
