---
import type { OidcStandardClaimsWithRoles } from "@/lib/security";

type Props = {
	user: OidcStandardClaimsWithRoles | undefined;
};
const { user } = Astro.props;
---

{
	user && (
		<div
			class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
			id="dropdown"
		>
			<div class="py-3 px-4">
				<span class="block text-sm font-semibold text-gray-900 dark:text-white">
					Neil sims
				</span>

				<span class="block text-sm font-light text-gray-500 truncate dark:text-gray-400">
					name@flowbite.com
				</span>
			</div>

			<ul
				class="py-1 font-light text-gray-500 dark:text-gray-400"
				aria-labelledby="dropdown"
			>
				<li>
					<a
						href="/profile"
						class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
					>
						Profile
					</a>
				</li>
			</ul>
		</div>
	)
}
