---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { App } from "@/app/App";

const user = Astro.locals.user || null;
---

<BaseLayout>
	<div id="root">
		<App client:only="react" initialUser={user} />
	</div>
</BaseLayout>
