---
import { RecordingTemplateWrapper } from "@/components/recording-templates/RecordingTemplateWrapper";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recording Layout</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #030712;
      }
    </style>
  </head>
  <body>
    <RecordingTemplateWrapper client:only="react" />
  </body>
</html>
