dotenv_if_exists .env

export CLOUDFLARE_API_TOKEN="op://Employee/w3etxulw37bsqb2rsna5px7y4u/api-tokens/all-access"
export DATA_CATALOG_TOKEN="op://sa.rawkode.academy/cloudflare/api-tokens/analytics-data-catalog"

if has devenv; then
  eval "$(devenv direnvrc)"
  use devenv;
fi
