---
import Posthog from "../analytics/posthog.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<style is:global>
	@import url("https://fonts.cdnfonts.com/css/Quicksand");
	@import url("https://fonts.cdnfonts.com/css/poppins");

	@font-face {
		font-family: "Monaspace";
		src:
			url("/fonts/monaspaceneon.woff") format("woff2 supports variations"),
			url("/fonts/monaspaceneon.woff") format("woff2-variations");
		font-weight: 200 900;
		font-stretch: 75% 125%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-display;
	}

	body {
		@apply font-body;
	}

	pre,
	code,
	kbd,
	samp,
	tt {
		@apply font-mono;
	}
</style>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<title>{title} | Rawkode Academy</title>

	<link
		rel="preload"
		href="https://fonts.cdnfonts.com/css/avenir"
		rel="stylesheet"
	/>
	<link
		rel="preload"
		href="https://fonts.cdnfonts.com/css/orbitron"
		rel="stylesheet"
	/>

	<link
		rel="preload"
		href="/fonts/monasans.woff2"
		as="font"
		type="font/woff2"
		crossorigin
	/>
	<link
		rel="preload"
		href="/fonts/monaspaceneon.woff"
		as="font"
		type="font/woff2"
		crossorigin
	/>

	<slot name="extra-head" />

	<script>
		(function (d, t) {
			var BASE_URL = "https://app.chatwoot.com";
			var g = d.createElement(t),
				s = d.getElementsByTagName(t)[0];
			g.src = BASE_URL + "/packs/js/sdk.js";
			g.defer = true;
			g.async = true;
			s.parentNode.insertBefore(g, s);
			g.onload = function () {
				window.chatwootSDK.run({
					websiteToken: "e9tsHkpvV7Tm4EVLvJXh2iAN",
					baseUrl: BASE_URL,
				});
			};
		})(document, "script");
	</script>

	<Posthog />
</head>
