[Desktop Entry]
Type=Application
Name=Rawkode Academy
Exec=rawkode_academy --url %u
Icon=app.rawkode.academy
Terminal=false
Categories=Education;Development;
MimeType=x-scheme-handler/app.rawkode.academy;
StartupWMClass=rawkode_academy
StartupNotify=true
SingleMainWindow=true
