---
const companies = [
  {
    id: "armo",
    name: "Armo",
    image: "armo-logo.svg",
    url: "",
  },
  {
    id: "equinix-metal",
    name: "Equinix Metal",
    image: "equinix-metal-logo.svg",
    url: "",
  },
  {
    id: "fermyon",
    name: "Fermyon",
    image: "fermyon-logo.png",
    url: "",
  },
  {
    id: "komodor",
    name: "Komodor",
    image: "komodor-logo.png",
    url: "",
  },
  {
    id: "teleport",
    name: "Teleport",
    image: "teleport-logo.svg",
    url: "",
  },
];
---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
    <h2
      class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-gray-900 dark:text-white md:text-4xl"
    >
      We partner with some of the best Cloud Native organisations:
    </h2>
    <div
      class="grid grid-cols-1 gap-8 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-5 dark:text-gray-400 justify-center"
    >
      {
        companies.map((company) => (
          <a href={company.url} class="flex justify-center items-center">
            <img
              class="h-9 hover:text-gray-900 dark:hover:text-white"
              src={`/${company.image}`}
              alt={company.name}
            />
            <p class="sr-only">{company.name}</p>
          </a>
        ))
      }
    </div>
  </div>
</section>
