---
import type { OpenGraphProps } from "@/types/opengraph";
import PostHog from "../posthog/index.astro";
import Opengraph from "./opengraph.astro";
import SearchActionJsonLd from "./search-action-jsonld.astro";

interface Props extends OpenGraphProps {}
---

<style is:global>
	@reference "@/styles/global.css";

	@font-face {
		font-family: "Monaspace";
		src:
			url("/fonts/monaspaceneon.woff") format("woff2 supports variations"),
			url("/fonts/monaspaceneon.woff") format("woff2-variations");
		font-weight: 200 900;
		font-stretch: 75% 125%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-display;
	}

	body {
		@apply font-body;
	}

	pre,
	code,
	kbd,
	samp,
	tt {
		@apply font-mono;
	}
</style>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	<link rel="manifest" href="/site.webmanifest" />
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
	<meta name="msapplication-TileColor" content="#da532c" />
	<meta name="theme-color" content="#5F5ED7" />
	<meta
		name="description"
		content={Astro.props.description ||
			"The Rawkode Academy provides educational, entertaining, and cutting-edge learning paths for you, or your developers, to keep up with the fast-paced, ever-evolving, and extremely volatile Cloud Native landscape."}
	/>

	<title>{Astro.props.title}</title>

	<!-- Canonical URL -->
	<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site).href} />

	<Opengraph {...Astro.props} />
	<SearchActionJsonLd />

	<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/avenir" />
	<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/orbitron" />
	<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/poppins" />
	<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/quicksand" />

	<link
		rel="preload"
		href="/fonts/monasans.woff2"
		as="font"
		type="font/woff2"
		crossorigin
	/>

	<link
		rel="preload"
		href="/fonts/monaspaceneon.woff"
		as="font"
		type="font/woff2"
		crossorigin
	/>

	<slot name="extra-head" />

	<link rel="sitemap" href="/sitemap-index.xml" />

	<script is:inline>
		(function () {
			var webSdkScript = document.createElement("script");

			// fetch the latest version of the Web-SDK from the CDN
			webSdkScript.src =
				"https://unpkg.com/@grafana/faro-web-sdk@latest/dist/bundle/faro-web-sdk.iife.js";

			webSdkScript.onload = () => {
				window.GrafanaFaroWebSdk.initializeFaro({
					url: "https://faro-collector-prod-gb-south-0.grafana.net/collect/614f7fa11ef6e2c96da968373bc2df04",
					app: {
						name: "rawkode.academy",
						version: "1.0.0",
						environment: "production",
					},
				});

				// Load instrumentations at the onLoad event of the web-SDK and after the above configuration.
				// This is important because we need to ensure that the Web-SDK has been loaded and initialized before we add further instruments!
				var webTracingScript = document.createElement("script");

				// fetch the latest version of the Web Tracing package from the CDN
				webTracingScript.src =
					"https://unpkg.com/@grafana/faro-web-tracing@latest/dist/bundle/faro-web-tracing.iife.js";

				// Initialize, configure (if necessary) and add the the new instrumentation to the already loaded and configured Web-SDK.
				webTracingScript.onload = () => {
					window.GrafanaFaroWebSdk.faro.instrumentations.add(
						new window.GrafanaFaroWebTracing.TracingInstrumentation(),
					);
				};

				// Append the Web Tracing script script tag to the HTML page
				document.head.appendChild(webTracingScript);
			};

			// Append the Web-SDK script script tag to the HTML page
			document.head.appendChild(webSdkScript);
		})();
	</script>
	<PostHog />
</head>
