# Scaleway
export SCW_ACCESS_KEY="op://Employee/Scaleway/accessKey"
export SCW_SECRET_KEY="op://Employee/Scaleway/secretKey"

# OpenTofu State Storage
export AWS_REGION="nl-ams"
export AWS_ACCESS_KEY_ID=${SCW_ACCESS_KEY}
export AWS_SECRET_ACCESS_KEY=${SCW_SECRET_KEY}

# Turso
export TF_VAR_turso_group_platform_token="op://sa.rawkode.academy/turso/platform-group/api-token"
