source_up

op signin --account rawkodeacademy

export GITHUB_OWNER="RawkodeAcademy"
export GITHUB_CLIENT_ID="op://Private/github-app-rawkode-academy/username"
export GITHUB_CLIENT_SECRET="op://Private/github-app-rawkode-academy/password"
export CLOUDFLARE_API_TOKEN="op://Private/w3etxulw37bsqb2rsna5px7y4u/api-tokens/all-access"
