---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/page.astro";

const allArticles = await getCollection("articles");
const pageTitle = "Articles";
console.log(allArticles);
---

<BaseLayout title={pageTitle} breadcrumbs={[]}>
  <p>Stuff</p>
  <ul>
    {
      allArticles.map((article) => (
        <a href={`/articles/${article.slug}`}>
          <p>{`${article.data.title}`}</p>
        </a>
      ))
    }
  </ul>
</BaseLayout>
