---
import Page from "@/wrappers/page.astro";
import HeroLogo from "@/components/hero/logos.astro";
import CtaImageLeft from "@/components/cta/image-left.astro";
import CtaImageRight from "@/components/cta/image-right.astro";
---

<Page title="Klustered">
	<HeroLogo
		title="Klustered"
		subtitle="Bringing p0's to life for the worlds best Kubernetes operators"
		cta={{
			label: "Apply Now!",
			href: "#",
		}}
		,
		pill={{
			label: "Apply Now!",
			href: "#",
			text: "Season #1 of the Klustered League is launching soon!",
		}}
		,
		logos={{
			title: "We've had contesants from",
			logos: [
				{
					src: "/images/logos/klustered/klustered-logo-1.png",
					alt: "Klustered Logo 1",
				},
			],
		}}
	/>

	<section class="bg-white dark:bg-gray-900">
		<div
			class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12"
		>
			<h2 class="text-5xl font-extrabold dark:text-white">
				Two of Our Favourite Episodes
			</h2>
		</div>
	</section>

	<CtaImageLeft />
	<CtaImageRight />

	<section class="bg-white dark:bg-gray-900">
		<div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
			<h2
				class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
			>
				Apply for Season #1
			</h2>
			<p
				class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl"
			>
				Got a technical issue? Want to send feedback about a beta feature? Need
				details about our Business plan? Let us know.
			</p>
			<form action="#" class="space-y-8">
				<div>
					<label
						for="email"
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
						>Your email</label
					>
					<input
						type="email"
						id="email"
						class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary dark:focus:border-primary dark:shadow-sm-light"
						placeholder="name@flowbite.com"
						required
					/>
				</div>
				<div>
					<label
						for="subject"
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
						>Subject</label
					>
					<input
						type="text"
						id="subject"
						class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary focus:border-primary dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary dark:focus:border-primary dark:shadow-sm-light"
						placeholder="Let us know how we can help you"
						required
					/>
				</div>
				<div class="sm:col-span-2">
					<label
						for="message"
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
						>Your message</label
					>
					<textarea
						id="message"
						rows="6"
						class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary focus:border-primary dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary dark:focus:border-primary"
						placeholder="Leave a comment..."></textarea>
				</div>
				<button
					type="submit"
					class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary sm:w-fit hover:bg-primary focus:ring-4 focus:outline-none focus:ring-primary dark:bg-primary dark:hover:bg-primary dark:focus:ring-primary"
					>Send message</button
				>
			</form>
		</div>
	</section>
</Page>
