source_up

export GEMINI_API_KEY="op://Private/Google Gemini/password"
export DEEPGRAM_API_KEY="op://Employee/Deepgram/academy-pipeline"
export BUNNY_API_KEY="op://Employee/Bunny/password"

if has flox; then
	use_flox;
fi
