source_up

export GEMINI_API_KEY="op://Private/Google Gemini/password"
export CLOUDFLARE_R2_ACCESS_KEY="op://Employee/w3etxulw37bsqb2rsna5px7y4u/rawkode-academy-videos/access-key"
export CLOUDFLARE_R2_SECRET_KEY="op://Employee/w3etxulw37bsqb2rsna5px7y4u/rawkode-academy-videos/secret-key"

if has flox; then
	use_flox;
fi
