source_up

export GEMINI_API_KEY="op://Private/Google Gemini/password"
export CLOUDFLARE_R2_ACCESS_KEY="op://Employee/w3etxulw37bsqb2rsna5px7y4u/R2/Access Key"
export CLOUDFLARE_R2-SECRET_KEY="op://Employee/w3etxulw37bsqb2rsna5px7y4u/R2/Secret Key"

if has flox; then
	use_flox;
fi
