---
import type { CollectionEntry } from "astro:content";

type Props = {
	series: CollectionEntry<"series">;
};

const { series } = Astro.props;
---

<p class="text-xl font-semibold text-primary dark:text-primary">
	Part of the series: <a
		class="underline hover:no-underline"
		href={`/series/${series.id}`}>{series.data.title}</a
	>
</p>
