---
// if (!Astro.locals.user) {
// 	console.log("Does this bail on menu?");
// 	return;
// }

// const name = Astro.locals.user.name;
// const email = Astro.locals.user.email;
// const avatarUrl = Astro.locals.user.avatarUrl;
---

<!-- <button
	type="button"
	class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
	id="user-menu-button"
	aria-expanded="false"
	data-dropdown-toggle="dropdown"
>
	<span class="sr-only">Open user menu</span>
	<img class="w-8 h-8 rounded-full" src={avatarUrl} alt="user photo" />
</button>
<!-- Dropdown menu
<div
	class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 rounded-xl"
	id="dropdown"
>
	<div class="py-3 px-4">
		<span class="block text-sm font-semibold text-gray-900 dark:text-white"
			>{name}</span
		>
		<span class="block text-sm text-gray-900 truncate dark:text-white"
			>{email}</span
		>
	</div>
	<ul class="py-1 text-gray-700 dark:text-gray-300" aria-labelledby="dropdown">
		<li>
			<a
				href="/sign-out"
				class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
				>Sign out</a
			>
		</li>
	</ul>
</div> -->
