source_up

export ONEPASSWORD="op://sa.rawkode.academy/sa.rawkode.academy/password"

# Used for production tasks
export LIBSQL_BASE_URL="rawkodeacademy.turso.io"

export DENO_BASE_ENV="NODE_ENV,FORCE_COLOR,TERM,CI,TEAMCITY_VERSION,COLORTERM"

if has flox;
then
	use_flox;
fi
