---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import ArticleCard from "../ArticleCard.astro";

type Props = {
	series: CollectionEntry<"series">;
};

const { series } = Astro.props;

const articles = (await getCollection("articles"))
	.filter((article) => article.data.series?.id === series.id)
	.filter((article) => !article.data.draft)
	.sort((a, b) => a.data.publishedAt.getTime() - b.data.publishedAt.getTime());
---

{
	articles.length === 0 ? (
		<p class="text-gray-500 dark:text-gray-400">
			No articles found for this series.
		</p>
	) : (
		<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 pt-4">
			{articles.map((article) => (
				<ArticleCard article={article} />
			))}
		</div>
	)
}
