op signin --account rawkodeacademy

export SCW_ACCESS_KEY="op://Private/Scaleway/accessKey"
export SCW_SECRET_KEY="op://Private/Scaleway/secretKey"
export CLOUDFLARE_API_TOKEN="op://Private/Cloudflare/Root"

export ABC=123
