---
import DefaultHead from "@/components/html/head.astro";
import DefaultLayout from "@/layouts/app.astro";
import type { OpenGraphProps } from "@/types/opengraph";
import "../styles/global.css";

interface Props extends OpenGraphProps {}
---

<html lang="en" class="scroll-smooth focus:scroll-auto">
	<DefaultHead {...Astro.props}>
		<slot name="extra-head" slot="extra-head" />
	</DefaultHead>

	<body class="h-full w-full mx-auto max-w-screen-3xl bg-white dark:bg-black">
		<slot name="layout">
			<DefaultLayout>
				<slot />
			</DefaultLayout>
		</slot>
	</body><style is:global>
		:root {
			color-scheme: light dark;
		}

		h1,
		h2,
		h3 {
			@apply mt-8 mb-4;
		}

		h1 {
			@apply mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white;
		}

		h2 {
			@apply text-2xl font-semibold text-gray-900 dark:text-white;
		}

		h3 {
			@apply text-xl text-gray-900 dark:text-white;
		}
	</style>

	<script>
		(function () {
			var webSdkScript = document.createElement("script");
			webSdkScript.src =
				"https://unpkg.com/@grafana/faro-web-sdk@^1.0.0/dist/bundle/faro-web-sdk.iife.js";

			webSdkScript.onload = () => {
				(window as any).GrafanaFaroWebSdk.initializeFaro({
					url: "https://faro-collector-prod-gb-south-0.grafana.net/collect/614f7fa11ef6e2c96da968373bc2df04",
					app: {
						name: "rawkode.academy",
					},
				});

				var webTracingScript = document.createElement("script");
				webTracingScript.src =
					"https://unpkg.com/@grafana/faro-web-tracing@^1.0.0/dist/bundle/faro-web-tracing.iife.js";

				webTracingScript.onload = () => {
					(window as any).GrafanaFaroWebSdk.faro.instrumentations.add(
						new (window as any).GrafanaFaroWebTracing.TracingInstrumentation()
					);
				};
				document.head.appendChild(webTracingScript);
			};

			document.head.appendChild(webSdkScript);
		})();
	</script>

	<script
		is:inline
		type="text/partytown"
		src="https://cloud.umami.is/script.js"
		data-website-id="91803d91-ac5a-4223-9603-f2c2dc3a2e66"></script>
</html>
