---
import DefaultHead from "@/components/html/head.astro";
import DefaultLayout from "@/layouts/app.astro";
import type { OpenGraphProps } from "@/types/opengraph";
import "@/styles/global.css";

interface Props extends OpenGraphProps {}
---

<html lang="en" class="scroll-smooth focus:scroll-auto">
	<DefaultHead {...Astro.props}>
		<slot name="extra-head" slot="extra-head" />
	</DefaultHead>

	<body class="h-full w-full mx-auto max-w-screen-3xl bg-white dark:bg-black">
		<slot name="layout">
			<DefaultLayout>
				<slot />
			</DefaultLayout>
		</slot>
	</body>
	<style is:global>
		@reference "@/styles/global.css";

		:root {
			color-scheme: light dark;
		}

		h1,
		h2,
		h3 {
			@apply mt-8 mb-4;
		}
	</style>

	<!-- InfluxDB Analytics Script (runs in Partytown) -->
	<script is:inline type="text/partytown" src="/analytics.js"></script>
</html>
