---
import SeriesArticles from "@/components/blog/series/SeriesArticles.astro";
import Page from "@/wrappers/page.astro";
import type { GetStaticPaths, GetStaticPathsResult } from "astro";
import { getCollection, render, type CollectionEntry } from "astro:content";

export const prerender = true;

type Props = {
	series: CollectionEntry<"series">;
};

export const getStaticPaths: GetStaticPaths =
	async (): Promise<GetStaticPathsResult> => {
		const seriesEntries = await getCollection("series");

		return seriesEntries.map((series) => {
			return {
				params: {
					slug: series.id,
				},
				props: {
					series,
				},
			};
		});
	};

const { series } = Astro.props;
const { Content } = await render(series);
---

<Page title={`${series.data.title}`}>
	<h1 class="text-5xl font-extrabold dark:text-white">
		{series.data.title}
	</h1>

	<article class="max-w-screen-xl format prose lg:prose-xl dark:format-invert">
		<Content />

		<h2 class="text-4xl font-bold dark:text-white">Articles</h2>

		<div class="not-format">
			<SeriesArticles series={series} />

		</div>
	</article>
</Page>
