---
import CalCom from "@/components/calcom";
import Page from "@/wrappers/page.astro";
---

<Page
	title="Share Your Project"
	description="Want to join me on Rawkode Live to share your project with our audience?"
>
	<h1 class="text-5xl font-extrabold dark:text-white">Share Your Project</h1>

	<p class="mb-4 dark:text-gray-400">
		Want to join me on Rawkode Live to share your project with our audience?
	</p>

	<a class="text-primary" href="https://rawkode.link/live-prep"
		>Read our live preparation document.</a
	>

	<h2 class="text-4xl font-bold dark:text-white">Book Your Slot</h2>

	<p>
		Grab any slot you like and we'll be in touch to cover everything you need
		before we go live.
	</p>

	<CalCom client:only="react" link="share-your-project" />
</Page>
