---
import Page from "@/wrappers/page.astro";
---

<Page
	title="Share Your Project"
	description="Want to join me on Rawkode Live to share your project with our audience?"
>
	<h1 class="text-5xl font-extrabold dark:text-white">Share Your Project</h1>

	<p class="mb-4 dark:text-gray-400">
		Want to join me on Rawkode Live to share your project with our audience?
	</p>

	<a class="text-primary" href="https://rawkode.link/live-prep"
		>Read our live preparation document.</a
	>

	<h2 class="text-4xl font-bold dark:text-white">Book Your Slot</h2>

	<p>
		Grab any slot you like and we'll be in touch to cover everything you need
		before we go live.
	</p>

	<div id="booking-page">
		<!-- this is where we will inject the interface -->
	</div>

	<script is:inline>
		window.SavvyCal =
			window.SavvyCal ||
			function () {
				(SavvyCal.q = SavvyCal.q || []).push(arguments);
			};
	</script>
	<script is:inline async src="https://embed.savvycal.com/v1/embed.js"></script>
	<script is:inline>
		SavvyCal("init", { origin: "https://meet.rawkode.academy" });
		SavvyCal("inline", {
			link: "share-your-project",
			selector: "#booking-page",
			theme: "os",
		});
	</script>
</Page>
