---
import MobileNavigation from "@components/navigation/mobile.svelte";
import CommandK from "@components/commandk.svelte";
import Footer from "./footer.astro";
import "../styles/base.css";
const meta = Astro.props.frontmatter || Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#bd00ff" />
    <meta name="theme-color" content="#ffffff" />
    <title>{meta.title}</title>

    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons&display=block"
      rel="stylesheet"
      rel="preload"
      as="style"
    />

    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-1HHXL08CMS"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-1HHXL08CMS");
    </script>
  </head>

  <body class="h-full theme-rawkode-academy">
    <CommandK client:only />
    <div>
      <MobileNavigation client:load />
    </div>
    <main class="content">
      <slot />
<<<<<<< HEAD
    </div>
    <footer>
      <div class="footer__links">
        <a target="_blank" href="https://www.youtube.com/@RawkodeAcademy"
          ><img src="/youtube.svg" /></a
        >
        <a target="_blank" href="https://www.twitter.com/RawkodeAcademy"
          ><img src="/twitter.svg" /></a
        >
        <a target="_blank" href="https://github.com/RawkodeAcademy"
          ><img src="/github.svg" /></a
        >
      </div>
      &copy;{year} Rawkode Academy
    </footer>
=======
    </main>
<<<<<<< HEAD
    <Footer client:load />
>>>>>>> 6f2aadc (feat: adding in the shows page)
=======
    <Footer />
>>>>>>> 8206d44 (feat: working on getting the data to create the dynamic show pages)
  </body>
  <!-- Start of HubSpot Embed Code -->
  <script
    type="text/javascript"
    id="hs-script-loader"
    async
    defer
    src="//js-eu1.hs-scripts.com/26236635.js"
  ></script>
  <!-- End of HubSpot Embed Code -->
</html>
