---
const year = new Date().getFullYear();
---
<footer>
  <div class="footer__links">
    <a href="https://www.youtube.com/@RawkodeAcademy"><img src="/youtube.svg" /></a>
    <a href="https://github.com/RawkodeAcademy"><img src="/github.svg" /></a>
  </div>
  &copy;{year} Rawkode Academy
</footer>
