---
import "@/styles/global.css";

interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description || title} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="h-full w-full bg-gray-900 text-gray-100">
    <slot />
  </body>
</html>