---
import BaseLayout from "./base.astro";
import Header from "./header.astro";
import Breadcrumbs from "@components/breadcrumbs.svelte";
export interface Breadcrumb {
  title: string;
  href: string;
}
export interface Props {
  title: string;
  breadcrumbs: Breadcrumb[];
}
const meta = (Astro.props.frontmatter as Props) || (Astro.props as Props);
---

<BaseLayout>
  <Header style="standard" />
  <Breadcrumbs
    client:load
    slot="breadcrumbs"
    title={meta.title}
    breadcrumbs={meta.breadcrumbs}
  />
  <main class="py-6">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 md:px-8">
      <h1>{meta.title}</h1>
    </div>
    <div class="max-w-5xl mx-auto px-4 sm:px-6 md:px-8">
      <slot />
    </div>
  </main>
</BaseLayout>
