---
import Page from "@/wrappers/page.astro";
const videoId = "8cd78ca6cb3556a88bc83eadb9375fde";
const youTubeId = "hbdURAMgCF8";
const posterUrl = encodeURIComponent(
	`https://i3.ytimg.com/vi/${youTubeId}/maxresdefault.jpg`
);
---

<Page title="Live">
	<h1>Live</h1>

	<p>Join us live for our next live stream!</p>

	<h2>Developing & Building Open Source with Dagger | OpenUnison</h2>

	<p>August 14th at 1700 BST / 0900 Pacific</p>
	<br />
	<p class="mb-2 prose">
		This live stream series will demonstrate how open source projects can
		leverage Dagger to enhance their build automation and development
		environments. Dagger enables developers to define their pipelines and
		environments using general-purpose programming languages, increasing
		flexibility and maintainability compared to traditional configuration-based
		tools.
	</p>
	<p class="mb-2 prose">
		We will collaborate with various open source communities to implement Dagger
		in real-world scenarios, showcasing best practices and addressing common
		challenges. Each stream will focus on a specific aspect of Dagger, such as
		building container images, orchestrating complex workflows, or managing
		dependencies. By the end of the series, viewers will have a comprehensive
		understanding of Dagger's capabilities and how to apply them to their own
		projects.
	</p>
	<br />

	<div class="relative mx-auto max-w-fit px-">
		<iframe
			src=`https://customer-qvhar784v2kmewih.cloudflarestream.com/${videoId}/iframe?poster=${posterUrl}`
			allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
			allowfullscreen="true"></iframe>
	</div>
</Page>
