---
import Page from "@wrappers/page.astro";
---

<Page title="Partnership">
	<!-- Welcome Page -->
	<section id="website-note" class="mb-10">
		<div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-6 lg:px-6">
			<h2>Sláinte!</h2>
			<p class="text-gray-500 sm:text-xl dark:text-gray-400">
				Thank you for considering becoming a Rawkode Academy partner.
			</p>
			<hr class="bg-gray-600 h-1 border-none w-full mt-5" />
			<br />
			<p class="text-gray-500 sm:text-xl dark:text-gray-400">
				This prospectus aims to be simple and to the point. I pride myself on
				transparency and the aim of this document is to give you enough
				information to determine if you wish to continue to the conversation.
			</p>
			<br />
			<p class="text-gray-500 sm:text-xl dark:text-gray-400">
				It’s not a sales deck, I’m not a salesperson.
			</p>
			<br />
			<p class="text-gray-500 sm:text-xl dark:text-gray-400 mt-0">
				If you want to discuss further, please book <a
					target="_self"
					class="text-[#00CEFF] underline"
					href="/organizations/lets-chat">some time here.</a
				>
			</p>
		</div>
	</section>

	<!-- Audience Page -->
	<section id="audience">
		<a
			href="#"
			class="flex flex-col w-full items-center bg-white border border-gray-200 rounded-lg shadow lg:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
		>
			<img
				class="object-cover w-full lg:w-[50%] rounded-t-lg h-[25rem] rounded-none lg:rounded-s-lg"
				src="/audience-speaker.jpg"
				alt=""
			/>
			<div class="flex flex-col justify-between p-4 leading-normal">
				<h2>Who’s Our Audience?</h2>
				<ul class="arrow-list ml-4">
					<li class="text-gray-500 dark:text-gray-400 text-lg sm:text-xl">
						◆<span
							class="ml-[10px] text-gray-500 dark:text-gray-400 text-lg sm:text-xl"
							><span class="font-bold">350k</span> views in 2023
						</span>
					</li>
					<li class="text-gray-500 dark:text-gray-400 text-lg sm:text-xl">
						◆<span
							class="ml-[10px] text-gray-500 font-bold dark:text-gray-400 text-lg sm:text-xl"
						>
							Personas
						</span>
					</li>
					<li
						class="ml-[40px] text-gray-500 dark:text-gray-400 text-lg sm:text-xl"
					>
						● <span
							class="ml-[10px] text-gray-500 dark:text-gray-400 text-lg sm:text-xl"
						>
							Senior / Lead / Principal Developers
						</span>
					</li>
					<li
						class="ml-[40px] text-gray-500 dark:text-gray-400 text-lg sm:text-xl"
					>
						● <span
							class="ml-[10px] text-gray-500 dark:text-gray-400 text-lg sm:text-xl"
						>
							On our last survey, 80%+ had over 7 years experience as
						</span>
					</li>
					<li
						class="ml-[80px] text-gray-500 dark:text-gray-400 text-lg sm:text-xl"
					>
						○ <span
							class="ml-[10px] text-gray-500 dark:text-gray-400 text-lg sm:text-xl"
						>
							Developer
						</span>
					</li>
					<li
						class="ml-[80px] text-gray-500 dark:text-gray-400 text-lg sm:text-xl"
					>
						○ <span
							class="ml-[10px] text-gray-500 dark:text-gray-400 text-lg sm:text-xl"
						>
							SysAdmin / Platform / Operator
						</span>
					</li>
					<li
						class="ml-[80px] text-gray-500 dark:text-gray-400 text-lg sm:text-xl"
					>
						○ <span
							class="ml-[10px] text-gray-500 dark:text-gray-400 text-lg sm:text-xl"
						>
							SRE
						</span>
					</li>
				</ul>
			</div>
		</a>
	</section>

	<!-- Consultancy Page -->
	<section id="consultancy">
		<div
			class="mx-auto px-4 py-4 lg:py-6 lg:px-6 text-center"
			data-astro-cid-2ksu4ccz=""
			data-astro-source-loc="674:67"
		>
			<h2
				class="mb-4 text-3xl font-extrabold tracking-tight"
				data-astro-cid-2ksu4ccz=""
				data-astro-source-loc="675:61"
			>
				Consultancy (or Content Creation)
			</h2>
			<p
				class="mb-2 font-light text-gray-500 dark:text-gray-400 sm:text-xl"
				data-astro-cid-2ksu4ccz=""
				data-astro-source-loc="678:76"
			>
				When you see “Consultancy” in the deck, I mean I can help you with:
			</p>
		</div>

		<div
			class="flex mt-4 mb-20 flex-col lg:flex-row ml-5 mr-5 lg:justify-center items-center font-sans text-white bg-bluegray-900"
		>
			<div
				class="lg:w-96 w-full h-[120px] border-2 lg:border-r-0 dark:border-gray-600 p-5"
			>
				<div class="pb-3 mb-4">
					<div class="mb-2">
						<svg
							aria-hidden="true"
							viewBox="0 0 32 32"
							fill="none"
							class="h-8 w-8 [--icon-foreground:theme(colors.slate.900)] [--icon-background:theme(colors.white)]"
							><defs
								><radialGradient
									cx="0"
									cy="0"
									r="1"
									gradientUnits="userSpaceOnUse"
									id=":S1:-gradient"
									gradientTransform="matrix(0 21 -21 0 12 3)"
									><stop stop-color="#0EA5E9"></stop><stop
										stop-color="#22D3EE"
										offset=".527"></stop><stop stop-color="#818CF8" offset="1"
									></stop></radialGradient
								><radialGradient
									cx="0"
									cy="0"
									r="1"
									gradientUnits="userSpaceOnUse"
									id=":S1:-gradient-dark"
									gradientTransform="matrix(0 21 -21 0 16 7)"
									><stop stop-color="#0EA5E9"></stop><stop
										stop-color="#22D3EE"
										offset=".527"></stop><stop stop-color="#818CF8" offset="1"
									></stop></radialGradient
								></defs
							><g class="dark:hidden"
								><circle cx="12" cy="12" r="12" fill="url(#:S1:-gradient)"
								></circle><path
									d="m8 8 9 21 2-10 10-2L8 8Z"
									fill-opacity="0.5"
									class="fill-[var(--icon-background)] stroke-[color:var(--icon-foreground)]"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"></path></g
							><g class="hidden dark:inline"
								><path
									d="m4 4 10.286 24 2.285-11.429L28 14.286 4 4Z"
									fill="url(#:S1:-gradient-dark)"
									stroke="url(#:S1:-gradient-dark)"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"></path></g
							></svg
						>
					</div>
					<div class="text-xs text-black dark:text-white mb-2">
						Content Creation
					</div>
				</div>
			</div>
			<div
				class="lg:w-96 w-full h-[120px] border-2 lg:border-r-0 dark:border-gray-600 p-5"
			>
				<div class="pb-3 mb-4">
					<div class="mb-2">
						<svg
							aria-hidden="true"
							viewBox="0 0 32 32"
							fill="none"
							class="h-8 w-8 [--icon-foreground:theme(colors.slate.900)] [--icon-background:theme(colors.white)]"
							data-astro-cid-2ksu4ccz=""
							data-astro-source-loc="531:9"
							><defs data-astro-cid-2ksu4ccz="" data-astro-source-loc="532:10"
								><radialGradient
									cx="0"
									cy="0"
									r="1"
									gradientUnits="userSpaceOnUse"
									id=":S2:-gradient"
									gradientTransform="matrix(0 21 -21 0 20 3)"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="539:11"
									><stop
										stop-color="#0EA5E9"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="539:11"></stop><stop
										stop-color="#22D3EE"
										offset=".527"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="539:45"></stop><stop
										stop-color="#818CF8"
										offset="1"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="541:32"></stop></radialGradient
								><radialGradient
									cx="0"
									cy="0"
									r="1"
									gradientUnits="userSpaceOnUse"
									id=":S2:-gradient-dark"
									gradientTransform="matrix(0 22.75 -22.75 0 16 6.25)"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="550:11"
									><stop
										stop-color="#0EA5E9"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="550:11"></stop><stop
										stop-color="#22D3EE"
										offset=".527"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="550:45"></stop><stop
										stop-color="#818CF8"
										offset="1"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="552:32"></stop></radialGradient
								></defs
							><g
								class="dark:hidden"
								data-astro-cid-2ksu4ccz=""
								data-astro-source-loc="556:10"
								><circle
									cx="20"
									cy="12"
									r="12"
									fill="url(#:S2:-gradient)"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="556:10"></circle><g
									class="fill-[var(--icon-background)] stroke-[color:var(--icon-foreground)]"
									fill-opacity="0.5"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="563:11"
									><path
										d="M3 5v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2Z"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="563:11"></path><path
										d="M18 17v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V17a2 2 0 0 0-2-2h-7a2 2 0 0 0-2 2Z"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="565:18"></path><path
										d="M18 5v4a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-7a2 2 0 0 0-2 2Z"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="567:18"></path><path
										d="M3 25v2a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2Z"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="569:18"></path></g
								></g
							><g
								class="hidden dark:inline"
								fill="url(#:S2:-gradient-dark)"
								data-astro-cid-2ksu4ccz=""
								data-astro-source-loc="574:10"
								><path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M3 17V4a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm16 10v-9a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-6a2 2 0 0 1-2-2Zm0-23v5a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-8a1 1 0 0 0-1 1ZM3 28v-3a1 1 0 0 1 1-1h9a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Z"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="574:10"></path><path
									d="M2 4v13h2V4H2Zm2-2a2 2 0 0 0-2 2h2V2Zm8 0H4v2h8V2Zm2 2a2 2 0 0 0-2-2v2h2Zm0 13V4h-2v13h2Zm-2 2a2 2 0 0 0 2-2h-2v2Zm-8 0h8v-2H4v2Zm-2-2a2 2 0 0 0 2 2v-2H2Zm16 1v9h2v-9h-2Zm3-3a3 3 0 0 0-3 3h2a1 1 0 0 1 1-1v-2Zm6 0h-6v2h6v-2Zm3 3a3 3 0 0 0-3-3v2a1 1 0 0 1 1 1h2Zm0 9v-9h-2v9h2Zm-3 3a3 3 0 0 0 3-3h-2a1 1 0 0 1-1 1v2Zm-6 0h6v-2h-6v2Zm-3-3a3 3 0 0 0 3 3v-2a1 1 0 0 1-1-1h-2Zm2-18V4h-2v5h2Zm0 0h-2a2 2 0 0 0 2 2V9Zm8 0h-8v2h8V9Zm0 0v2a2 2 0 0 0 2-2h-2Zm0-5v5h2V4h-2Zm0 0h2a2 2 0 0 0-2-2v2Zm-8 0h8V2h-8v2Zm0 0V2a2 2 0 0 0-2 2h2ZM2 25v3h2v-3H2Zm2-2a2 2 0 0 0-2 2h2v-2Zm9 0H4v2h9v-2Zm2 2a2 2 0 0 0-2-2v2h2Zm0 3v-3h-2v3h2Zm-2 2a2 2 0 0 0 2-2h-2v2Zm-9 0h9v-2H4v2Zm-2-2a2 2 0 0 0 2 2v-2H2Z"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="578:17"></path></g
							></svg
						>
					</div>
					<div class="text-xs text-black dark:text-white mb-2">
						DevRel as a ServiceT
					</div>
				</div>
			</div>
			<div
				class="lg:w-96 w-full rounded-none lg:rounded-lg h-[120px] lg:h-[150px] my-0 lg:my-4 border-gradient lg:dark:border-blue-500 p-5 shadow-none lg:shadow-l"
			>
				<div class="pb-3 mb-4">
					<svg
						aria-hidden="true"
						viewBox="0 0 32 32"
						fill="none"
						class="h-8 w-8 [--icon-foreground:theme(colors.slate.900)] [--icon-background:theme(colors.white)]"
						><defs
							><radialGradient
								cx="0"
								cy="0"
								r="1"
								gradientUnits="userSpaceOnUse"
								id=":S1:-gradient"
								gradientTransform="matrix(0 21 -21 0 12 3)"
								><stop stop-color="#0EA5E9"></stop><stop
									stop-color="#22D3EE"
									offset=".527"></stop><stop stop-color="#818CF8" offset="1"
								></stop></radialGradient
							><radialGradient
								cx="0"
								cy="0"
								r="1"
								gradientUnits="userSpaceOnUse"
								id=":S1:-gradient-dark"
								gradientTransform="matrix(0 21 -21 0 16 7)"
								><stop stop-color="#0EA5E9"></stop><stop
									stop-color="#22D3EE"
									offset=".527"></stop><stop stop-color="#818CF8" offset="1"
								></stop></radialGradient
							></defs
						><g class="dark:hidden"
							><circle cx="12" cy="12" r="12" fill="url(#:S1:-gradient)"
							></circle><path
								d="m8 8 9 21 2-10 10-2L8 8Z"
								fill-opacity="0.5"
								class="fill-[var(--icon-background)] stroke-[color:var(--icon-foreground)]"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"></path></g
						><g class="hidden dark:inline"
							><path
								d="m4 4 10.286 24 2.285-11.429L28 14.286 4 4Z"
								fill="url(#:S1:-gradient-dark)"
								stroke="url(#:S1:-gradient-dark)"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"></path></g
						></svg
					>
					<div class="flex items-center">
						<h2 class="text-xs lg:text-2xl m-0 font-normal">
							Developer Marketing
						</h2>
					</div>
				</div>
			</div>
			<div
				class="lg:w-96 w-full h-[120px] border-2 lg:border-l-0 dark:border-gray-600 p-5"
			>
				<div class="pb-3 mb-4">
					<div class="mb-2">
						<svg
							aria-hidden="true"
							viewBox="0 0 32 32"
							fill="none"
							class="h-8 w-8 [--icon-foreground:theme(colors.slate.900)] [--icon-background:theme(colors.white)]"
							data-astro-cid-2ksu4ccz=""
							data-astro-source-loc="678:9"
							><defs data-astro-cid-2ksu4ccz="" data-astro-source-loc="679:10"
								><radialGradient
									cx="0"
									cy="0"
									r="1"
									gradientUnits="userSpaceOnUse"
									id=":S3:-gradient"
									gradientTransform="matrix(0 21 -21 0 20 11)"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="686:11"
									><stop
										stop-color="#0EA5E9"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="686:11"></stop><stop
										stop-color="#22D3EE"
										offset=".527"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="686:45"></stop><stop
										stop-color="#818CF8"
										offset="1"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="688:32"></stop></radialGradient
								><radialGradient
									cx="0"
									cy="0"
									r="1"
									gradientUnits="userSpaceOnUse"
									id=":S3:-gradient-dark-1"
									gradientTransform="matrix(0 22.75 -22.75 0 16 6.25)"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="697:11"
									><stop
										stop-color="#0EA5E9"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="697:11"></stop><stop
										stop-color="#22D3EE"
										offset=".527"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="697:45"></stop><stop
										stop-color="#818CF8"
										offset="1"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="699:32"></stop></radialGradient
								><radialGradient
									cx="0"
									cy="0"
									r="1"
									gradientUnits="userSpaceOnUse"
									id=":S3:-gradient-dark-2"
									gradientTransform="matrix(0 14 -14 0 16 10)"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="708:11"
									><stop
										stop-color="#0EA5E9"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="708:11"></stop><stop
										stop-color="#22D3EE"
										offset=".527"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="708:45"></stop><stop
										stop-color="#818CF8"
										offset="1"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="710:32"></stop></radialGradient
								></defs
							><g
								class="dark:hidden"
								data-astro-cid-2ksu4ccz=""
								data-astro-source-loc="714:10"
								><circle
									cx="20"
									cy="20"
									r="12"
									fill="url(#:S3:-gradient)"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="714:10"></circle><g
									fill-opacity="0.5"
									class="fill-[var(--icon-background)] stroke-[color:var(--icon-foreground)]"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="721:11"
									><path
										d="M3 9v14l12 6V15L3 9Z"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="721:11"></path><path
										d="M27 9v14l-12 6V15l12-6Z"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="721:49"></path></g
								><path
									d="M11 4h8v2l6 3-10 6L5 9l6-3V4Z"
									fill-opacity="0.5"
									class="fill-[var(--icon-background)]"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="723:10"></path><g
									class="stroke-[color:var(--icon-foreground)]"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="731:11"
									><path
										d="M20 5.5 27 9l-12 6L3 9l7-3.5"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="731:11"></path><path
										d="M20 5c0 1.105-2.239 2-5 2s-5-.895-5-2m10 0c0-1.105-2.239-2-5-2s-5 .895-5 2m10 0v3c0 1.105-2.239 2-5 2s-5-.895-5-2V5"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="731:57"></path></g
								></g
							><g
								class="hidden dark:inline"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								data-astro-cid-2ksu4ccz=""
								data-astro-source-loc="740:10"
								><path
									d="M17.676 3.38a3.887 3.887 0 0 0-3.352 0l-9 4.288C3.907 8.342 3 9.806 3 11.416v9.168c0 1.61.907 3.073 2.324 3.748l9 4.288a3.887 3.887 0 0 0 3.352 0l9-4.288C28.093 23.657 29 22.194 29 20.584v-9.168c0-1.61-.907-3.074-2.324-3.748l-9-4.288Z"
									stroke="url(#:S3:-gradient-dark-1)"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="740:10"></path><path
									d="M16.406 8.087a.989.989 0 0 0-.812 0l-7 3.598A1.012 1.012 0 0 0 8 12.61v6.78c0 .4.233.762.594.925l7 3.598a.989.989 0 0 0 .812 0l7-3.598c.361-.163.594-.525.594-.925v-6.78c0-.4-.233-.762-.594-.925l-7-3.598Z"
									fill="url(#:S3:-gradient-dark-2)"
									stroke="url(#:S3:-gradient-dark-2)"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="742:53"></path></g
							></svg
						>
					</div>
					<div class="text-xs text-black dark:text-white mb-2">
						Product Market Fit / Product Led Growth
					</div>
				</div>
			</div>
			<div
				class="lg:w-96 w-full h-[120px] border-2 lg:border-l-0 dark:border-gray-600 p-5"
			>
				<div class="pb-3 mb-4">
					<div class="mb-2">
						<svg
							aria-hidden="true"
							viewBox="0 0 32 32"
							fill="none"
							class="h-8 w-8 [--icon-foreground:theme(colors.slate.900)] [--icon-background:theme(colors.white)]"
							data-astro-cid-2ksu4ccz=""
							data-astro-source-loc="885:9"
							><defs data-astro-cid-2ksu4ccz="" data-astro-source-loc="886:10"
								><radialGradient
									cx="0"
									cy="0"
									r="1"
									gradientUnits="userSpaceOnUse"
									id=":S4:-gradient"
									gradientTransform="matrix(0 21 -21 0 12 11)"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="893:11"
									><stop
										stop-color="#0EA5E9"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="893:11"></stop><stop
										stop-color="#22D3EE"
										offset=".527"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="893:45"></stop><stop
										stop-color="#818CF8"
										offset="1"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="895:32"></stop></radialGradient
								><radialGradient
									cx="0"
									cy="0"
									r="1"
									gradientUnits="userSpaceOnUse"
									id=":S4:-gradient-dark"
									gradientTransform="matrix(0 24.5 -24.5 0 16 5.5)"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="904:11"
									><stop
										stop-color="#0EA5E9"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="904:11"></stop><stop
										stop-color="#22D3EE"
										offset=".527"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="904:45"></stop><stop
										stop-color="#818CF8"
										offset="1"
										data-astro-cid-2ksu4ccz=""
										data-astro-source-loc="906:32"></stop></radialGradient
								></defs
							><g
								class="dark:hidden"
								data-astro-cid-2ksu4ccz=""
								data-astro-source-loc="910:10"
								><circle
									cx="12"
									cy="20"
									r="12"
									fill="url(#:S4:-gradient)"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="910:10"></circle><path
									d="M27 12.13 19.87 5 13 11.87v14.26l14-14Z"
									class="fill-[var(--icon-background)] stroke-[color:var(--icon-foreground)]"
									fill-opacity="0.5"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="911:19"></path><path
									d="M3 3h10v22a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4V3Z"
									class="fill-[var(--icon-background)]"
									fill-opacity="0.5"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="917:41"></path><path
									d="M3 9v16a4 4 0 0 0 4 4h2a4 4 0 0 0 4-4V9M3 9V3h10v6M3 9h10M3 15h10M3 21h10"
									class="stroke-[color:var(--icon-foreground)]"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="920:36"></path><path
									d="M29 29V19h-8.5L13 26c0 1.5-2.5 3-5 3h21Z"
									fill-opacity="0.5"
									class="fill-[var(--icon-background)] stroke-[color:var(--icon-foreground)]"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="925:41"></path></g
							><g
								class="hidden dark:inline"
								data-astro-cid-2ksu4ccz=""
								data-astro-source-loc="933:10"
								><path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M3 2a1 1 0 0 0-1 1v21a6 6 0 0 0 12 0V3a1 1 0 0 0-1-1H3Zm16.752 3.293a1 1 0 0 0-1.593.244l-1.045 2A1 1 0 0 0 17 8v13a1 1 0 0 0 1.71.705l7.999-8.045a1 1 0 0 0-.002-1.412l-6.955-6.955ZM26 18a1 1 0 0 0-.707.293l-10 10A1 1 0 0 0 16 30h13a1 1 0 0 0 1-1V19a1 1 0 0 0-1-1h-3ZM5 18a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H5Zm-1-5a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H5a1 1 0 0 1-1-1Zm1-7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H5Z"
									fill="url(#:S4:-gradient-dark)"
									data-astro-cid-2ksu4ccz=""
									data-astro-source-loc="933:10"></path></g
							></svg
						>
					</div>
					<div class="text-xs text-black dark:text-white mb-2">
						Roadmap Prioritization
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Website Placement !-->
	<section id="website-placement">
		<div
			class="mx-auto px-2 py-4 lg:py-6 text-center"
			data-astro-cid-2ksu4ccz=""
			data-astro-source-loc="674:67"
		>
			<h2
				class="mb-4 text-3xl font-extrabold tracking-tight"
				data-astro-cid-2ksu4ccz=""
				data-astro-source-loc="675:61"
			>
				Website Placement
			</h2>
			<p
				class="mb-2 font-light text-gray-500 dark:text-gray-400 sm:text-xl"
				data-astro-cid-2ksu4ccz=""
				data-astro-source-loc="678:76"
			>
				When you see “Website Placement” in the deck, this means your name and
				logo will be on the:
			</p>
		</div>
		<div class="not-prose my-12 flex justify-center gap-6 sm:grid-cols-2">
			<div
				class="group group w-[40%] sm:w-[20%] relative rounded-xl border border-slate-200 dark:border-gray-600"
			>
				<div
					class="absolute -inset-px rounded-xl border-2 border-transparent opacity-0 [background:linear-gradient(var(--quick-links-hover-bg,theme(colors.sky.50)),var(--quick-links-hover-bg,theme(colors.sky.50)))_padding-box,linear-gradient(to_top,theme(colors.indigo.400),theme(colors.cyan.400),theme(colors.sky.500))_border-box] group-hover:opacity-100 dark:[--quick-links-hover-bg:theme(colors.slate.800)]"
				>
				</div><div class="relative overflow-hidden rounded-xl p-6">
					<svg
						aria-hidden="true"
						viewBox="0 0 32 32"
						fill="none"
						class="h-8 w-8 [--icon-foreground:theme(colors.slate.900)] [--icon-background:theme(colors.white)]"
						><defs
							><radialGradient
								cx="0"
								cy="0"
								r="1"
								gradientUnits="userSpaceOnUse"
								id=":S1:-gradient"
								gradientTransform="matrix(0 21 -21 0 12 3)"
								><stop stop-color="#0EA5E9"></stop><stop
									stop-color="#22D3EE"
									offset=".527"></stop><stop stop-color="#818CF8" offset="1"
								></stop></radialGradient
							><radialGradient
								cx="0"
								cy="0"
								r="1"
								gradientUnits="userSpaceOnUse"
								id=":S1:-gradient-dark"
								gradientTransform="matrix(0 21 -21 0 16 7)"
								><stop stop-color="#0EA5E9"></stop><stop
									stop-color="#22D3EE"
									offset=".527"></stop><stop stop-color="#818CF8" offset="1"
								></stop></radialGradient
							></defs
						><g class="dark:hidden"
							><circle cx="12" cy="12" r="12" fill="url(#:S1:-gradient)"
							></circle><path
								d="m8 8 9 21 2-10 10-2L8 8Z"
								fill-opacity="0.5"
								class="fill-[var(--icon-background)] stroke-[color:var(--icon-foreground)]"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"></path></g
						><g class="hidden dark:inline"
							><path
								d="m4 4 10.286 24 2.285-11.429L28 14.286 4 4Z"
								fill="url(#:S1:-gradient-dark)"
								stroke="url(#:S1:-gradient-dark)"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"></path></g
						></svg
					><h2
						class="mt-4 font-display text-base text-slate-900 dark:text-white"
					>
						<a href="#website-placement"
							><span class="absolute -inset-px rounded-4xl"></span>Homepage</a
						>
					</h2>
				</div>
			</div><div
				class="group w-[40%] sm:w-[20%] relative rounded-xl border border-slate-200 dark:border-gray-600"
			>
				<div
					class="absolute -inset-px rounded-xl border-2 border-transparent opacity-0 [background:linear-gradient(var(--quick-links-hover-bg,theme(colors.sky.50)),var(--quick-links-hover-bg,theme(colors.sky.50)))_padding-box,linear-gradient(to_top,theme(colors.indigo.400),theme(colors.cyan.400),theme(colors.sky.500))_border-box] group-hover:opacity-100 dark:[--quick-links-hover-bg:theme(colors.slate.800)]"
				>
				</div><div class="relative overflow-hidden rounded-xl p-6">
					<svg
						aria-hidden="true"
						viewBox="0 0 32 32"
						fill="none"
						class="h-8 w-8 [--icon-foreground:theme(colors.slate.900)] [--icon-background:theme(colors.white)]"
						><defs
							><radialGradient
								cx="0"
								cy="0"
								r="1"
								gradientUnits="userSpaceOnUse"
								id=":S2:-gradient"
								gradientTransform="matrix(0 21 -21 0 20 3)"
								><stop stop-color="#0EA5E9"></stop><stop
									stop-color="#22D3EE"
									offset=".527"></stop><stop stop-color="#818CF8" offset="1"
								></stop></radialGradient
							><radialGradient
								cx="0"
								cy="0"
								r="1"
								gradientUnits="userSpaceOnUse"
								id=":S2:-gradient-dark"
								gradientTransform="matrix(0 22.75 -22.75 0 16 6.25)"
								><stop stop-color="#0EA5E9"></stop><stop
									stop-color="#22D3EE"
									offset=".527"></stop><stop stop-color="#818CF8" offset="1"
								></stop></radialGradient
							></defs
						><g class="dark:hidden"
							><circle cx="20" cy="12" r="12" fill="url(#:S2:-gradient)"
							></circle><g
								class="fill-[var(--icon-background)] stroke-[color:var(--icon-foreground)]"
								fill-opacity="0.5"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								><path
									d="M3 5v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2Z"
								></path><path
									d="M18 17v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V17a2 2 0 0 0-2-2h-7a2 2 0 0 0-2 2Z"
								></path><path
									d="M18 5v4a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-7a2 2 0 0 0-2 2Z"
								></path><path
									d="M3 25v2a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2Z"
								></path></g
							></g
						><g class="hidden dark:inline" fill="url(#:S2:-gradient-dark)"
							><path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M3 17V4a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm16 10v-9a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-6a2 2 0 0 1-2-2Zm0-23v5a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-8a1 1 0 0 0-1 1ZM3 28v-3a1 1 0 0 1 1-1h9a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Z"
							></path><path
								d="M2 4v13h2V4H2Zm2-2a2 2 0 0 0-2 2h2V2Zm8 0H4v2h8V2Zm2 2a2 2 0 0 0-2-2v2h2Zm0 13V4h-2v13h2Zm-2 2a2 2 0 0 0 2-2h-2v2Zm-8 0h8v-2H4v2Zm-2-2a2 2 0 0 0 2 2v-2H2Zm16 1v9h2v-9h-2Zm3-3a3 3 0 0 0-3 3h2a1 1 0 0 1 1-1v-2Zm6 0h-6v2h6v-2Zm3 3a3 3 0 0 0-3-3v2a1 1 0 0 1 1 1h2Zm0 9v-9h-2v9h2Zm-3 3a3 3 0 0 0 3-3h-2a1 1 0 0 1-1 1v2Zm-6 0h6v-2h-6v2Zm-3-3a3 3 0 0 0 3 3v-2a1 1 0 0 1-1-1h-2Zm2-18V4h-2v5h2Zm0 0h-2a2 2 0 0 0 2 2V9Zm8 0h-8v2h8V9Zm0 0v2a2 2 0 0 0 2-2h-2Zm0-5v5h2V4h-2Zm0 0h2a2 2 0 0 0-2-2v2Zm-8 0h8V2h-8v2Zm0 0V2a2 2 0 0 0-2 2h2ZM2 25v3h2v-3H2Zm2-2a2 2 0 0 0-2 2h2v-2Zm9 0H4v2h9v-2Zm2 2a2 2 0 0 0-2-2v2h2Zm0 3v-3h-2v3h2Zm-2 2a2 2 0 0 0 2-2h-2v2Zm-9 0h9v-2H4v2Zm-2-2a2 2 0 0 0 2 2v-2H2Z"
							></path></g
						></svg
					><h2
						class="mt-4 font-display text-base text-slate-900 dark:text-white"
					>
						<a href="#website-placement"
							><span class="absolute -inset-px rounded-4xl"></span>Partners Page
						</a>
					</h2>
				</div>
			</div>
		</div>
	</section>

	<!-- Website Note -->
	<section id="website-note" class="mb-10">
		<div class="max-w-screen-xl px-4 mx-auto lg:px-6">
			<h2>Website Note</h2>
			<p class="text-gray-500 sm:text-xl dark:text-gray-400">
				The website for the Rawkode Academy has been rebuilt from the ground up
				to showcase and feature all existing and new content in a new SEO
				friendly fashion, removing our dependence on YouTube.
			</p>
			<br />
			<p class="text-gray-400 sm:text-xl font-bold dark:text-gray-300">
				All new content and live streams will be made available via the website
				first, YouTube second.
			</p>
			<br />
			<p class="text-gray-500 sm:text-xl dark:text-gray-400">
				All content will be transcribed and summarised, by people and AI, to
				enrich that SEO experience; but nothing will ever go live without a
				human eye (David) approving. Quality is extremely important to us.
			</p>
			<br />
			<p class="text-gray-500 sm:text-xl dark:text-gray-400">
				This new website requires the audience to sign up, allowing us to
				understand that audience better:
			</p>
			<br />
			<p class="text-gray-400 sm:text-xl font-bold dark:text-gray-300">
				What they do, what stack they use, how long they’ve been in tech, and
				much much more.
			</p>
		</div>
	</section>

	<!-- Blog Placement -->
	<section id="blog-placement">
		<div class="container mx-auto">
			<div class="flex flex-wrap">
				<div class="w-full">
					<figure class="relative h-[300px] overflow-hidden">
						<div
							class="media absolute inset-0 rounded-lg bg-cover bg-top transition-transform duration-300"
							style="background-image:url(/blog-placement-cover.jpg)"
						>
						</div>
						<figcaption
							class="absolute top-0 left-0 w-[90%] sm:w-[40%] m-4 h-[calc(100%-30px)] text-[#252830]"
						>
							<svg
								viewBox="0 0 200 200"
								version="1.1"
								preserveAspectRatio="none"
								xmlns="http://www.w3.org/2000/svg"
								class="h-full w-full"
							>
								<defs>
									<mask id="mask" x="0" y="0" width="100%" height="100%">
										<rect
											id="alpha"
											x="0"
											y="0"
											width="100%"
											height="100%"
											fill="white"></rect>
										<text
											class="text-xl"
											x="50%"
											y="40px"
											text-anchor="middle"
											fill="black">BLOG</text
										>
										<text
											class="text-xl"
											x="50%"
											y="70px"
											text-anchor="middle"
											fill="black">PLACEMENT</text
										>
									</mask>
								</defs>
								<rect
									id="base"
									x="0"
									y="0"
									width="100%"
									height="100%"
									fill="white"
									mask="url(#mask)"></rect>
							</svg>
							<div class="bg-white p-4 absolute bottom-0 w-full">
								<p>
									When you see “Blog Placement” in the deck, this means your
									name and logo will be placed with a thank you on every article
									we publish to the Academy throughout our partnership.
								</p>
							</div>
						</figcaption>
						<a href="#" class="absolute inset-0"></a>
					</figure>
				</div>
			</div>
		</div>
	</section>

	<!-- Blog Note -->
	<section id="blog-note" class="mb-10">
		<div class="max-w-screen-xl px-4 mx-auto lg:px-6">
			<h2>Blog Note</h2>
			<p class="text-gray-500 sm:text-xl dark:text-gray-400">
				While we’ve never blogged in the past, with the launch of the new
				website coming within a few weeks; we’ve already lined up a dozen guest
				blog authors from the Cloud Native community to share their experience
				and knowledge with our audience.
			</p>
			<br />
			<p class="text-gray-500 sm:text-xl dark:text-gray-400">
				The blog will also feature tear downs of Klustered episodes, summaries
				of live streams, and industry experts discussing “What comes next?” for
				Cloud Native, WebAssembly, and Kubernetes.
			</p>
		</div>
	</section>

	<!-- Packages Information -->
	<section id="packages-info" class="mb-10">
		<div class="max-w-screen-xl px-4 mx-auto lg:px-6">
			<h2>Packages</h2>
			<p class="text-gray-500 sm:text-xl dark:text-gray-400">
				I don’t want to work with a hundred partners, I want to <span
					class="font-bold"
					>build a future with a small selection of partners</span
				> where we can build a long term relationship and prosper together.
			</p>
			<br />
			<p class="text-gray-500 sm:text-xl dark:text-gray-400">
				These plans are an initial spec for how we can work together. Upon
				agreement, we’ll set aside time to brainstorm and come up with more
				bespoke ideas that help both sides thrive in a constantly evolving,
				dynamic, and challenge Cloud Native environment.
			</p>
		</div>
	</section>

	<!-- Packages Detail -->
	<section id="plans" class="bg-white dark:bg-black">
		<div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-6 lg:px-6">
			<div class="max-w-screen-md mx-auto mb-8 text-center lg:mb-12">
				<h2 class="mb-4 text-3xl font-extrabold tracking-tight">
					Our Packages
				</h2>
				<p class="mb-5 text-gray-500 dark:text-gray-400 sm:text-xl">
					We offer packages at various rates, each which come with a portion of
					my time over the 12-month commitment that is proportionate to your
					sponsorship of the Rawkode Academy.
				</p>
				<p class="mb-5 text-gray-500 sm:text-xl dark:text-gray-400">
					The packages are named after Scottish drinks. <br /> Hopefully we can share
					a drink at the next conference.
				</p>
			</div>
			<div>
				<div class="cards grid grid-cols-1 sm:grid-cols-2 gap-4">
					<div
						class="card border-[1px] text-gray-500 dark:text-gray-400 rounded-lg p-4 cursor-pointer transition transform hover:scale-110"
					>
						<p
							class="tip text-center text-gray-500 dark:text-white text-lg font-bold"
						>
							Nip
						</p>
						<p class="second-text text-center text-sm">
							A nip if what we offer people from our hip flasks, which means a
							sip of whisky.
						</p>
					</div>
					<div
						class="card border-[1px] text-gray-500 dark:text-gray-400 rounded-lg p-4 cursor-pointer transition transform hover:scale-110"
					>
						<p
							class="tip text-center text-gray-500 dark:text-white text-lg font-bold"
						>
							Dram
						</p>
						<p class="second-text text-center text-sm">
							A dram means you’ve got a drink to yourself, lucky sod! Usually 25
							ml of Scotland’s finest whisky; depending on how much you spend.
						</p>
					</div>
					<div
						class="card border-[1px] text-gray-500 dark:text-gray-400 rounded-lg p-4 cursor-pointer transition transform hover:scale-110"
					>
						<p
							class="tip text-center text-gray-500 dark:text-white text-lg font-bold"
						>
							Blend
						</p>
						<p class="second-text text-center text-sm">
							There’s nothing wrong with a good ole’ blended whisky, as Johnnie
							Walker may have taught you.
						</p>
					</div>
					<div
						class="card border-[1px] text-gray-500 dark:text-gray-400 rounded-lg p-4 cursor-pointer transition transform hover:scale-110"
					>
						<p
							class="tip text-center text-gray-500 dark:text-white text-lg font-bold"
						>
							Malt
						</p>
						<p class="second-text text-center text-sm">
							Our finest creation! My favourite region is Islay, which has a
							strong peat. Mmmm.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Packages Plans -->
	<section id="choose-plan" class="bg-white dark:bg-black">
		<div class="max-w-screen-xl px-4 py-8 lg:py-6 lg:px-6">
			<div class="max-w-screen-md mx-auto mb-8 text-center lg:mb-12">
				<h2 class="mb-4 text-3xl font-extrabold tracking-tight">
					Choose your plan
				</h2>
				<p class="mb-5 font-light text-gray-500 dark:text-gray-400 sm:text-xl">
					We offer packages at various rates, each which come with a portion of
					my time over the 12-month commitment that is proportionate to your
					sponsorship of the Rawkode Academy.
				</p>
			</div>
			<div
				class="space-y-8 flex justify-center flex-wrap sm:gap-6 xl:gap-10 lg:space-y-0"
			>
				<!-- NIP PLAN -->
				<div
					class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
				>
					<h5
						class="mb-4 text-2xl text-center font-bold text-black dark:text-white"
					>
						Nip
					</h5>
					<p
						class="text-gray-500 text-center sm:text-lg dark:text-gray-400 mb-2"
					>
						This is our lowest tier and is limited to the first 5 organizations
						that request it.
					</p>
					<div class="flex items-baseline text-gray-900 dark:text-white">
						<span class="text-3xl font-semibold">$</span>
						<span class="text-5xl font-extrabold tracking-tight">12,000</span>
						<span
							class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400"
							>/12 month</span
						>
					</div>
					<ul role="list" class="space-y-5 my-7">
						<li class="flex items-center">
							<svg
								class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>
								Website Placement</span
							>
						</li>
						<li class="flex">
							<svg
								class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
								>Quarterly Webinar or Live Stream</span
							>
						</li>

						<li class="flex line-through decoration-gray-500">
							<svg
								class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 ms-3"
								>32 Hours Consultancy</span
							>
						</li>
						<li class="flex line-through decoration-gray-500">
							<svg
								class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 ms-3"
							>
								Mid-roll on all free, unsponsored, content</span
							>
						</li>
						<li class="flex line-through decoration-gray-500">
							<svg
								class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 ms-3"
								>Blog Placement</span
							>
						</li>
						<li class="flex line-through decoration-gray-500">
							<svg
								class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 ms-3"
								>We’ll produce a 2 hour course for your product <span
									class="font-bold">(Worth 36K)</span
								></span
							>
						</li>
					</ul>
					<button
						type="button"
						class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
						onclick="window.location.href='/organizations/lets-chat'"
					>
						Let's Discuss
					</button>
				</div>

				<!-- DRAM PLAN -->
				<div
					class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
				>
					<h5
						class="mb-4 text-2xl text-center font-bold text-black dark:text-white"
					>
						Dram
					</h5>
					<p
						class="text-gray-500 text-center sm:text-lg dark:text-gray-400 mb-2"
					>
						This package is available to the first 4 organizations that request
						it.
					</p>
					<div class="flex items-baseline text-gray-900 dark:text-white">
						<span class="text-3xl font-semibold">$</span>
						<span class="text-5xl font-extrabold tracking-tight">24,000</span>
						<span
							class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400"
							>/12 month</span
						>
					</div>
					<ul role="list" class="space-y-5 my-7">
						<li class="flex items-center">
							<svg
								class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>
								Website Placement</span
							>
						</li>
						<li class="flex">
							<svg
								class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
								>Quarterly Webinar or Live Stream</span
							>
						</li>

						<li class="flex decoration-gray-500">
							<svg
								class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
								>32 Hours Consultancy <span class="font-bold">(Worth 16K)</span>
							</span>
						</li>
						<li class="flex line-through decoration-gray-500">
							<svg
								class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 ms-3"
							>
								Mid-roll on all free, unsponsored, content</span
							>
						</li>
						<li class="flex line-through decoration-gray-500">
							<svg
								class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 ms-3"
								>Blog Placement</span
							>
						</li>
						<li class="flex line-through decoration-gray-500">
							<svg
								class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 ms-3"
								>We’ll produce a 2 hour course for your product <span
									class="font-bold">(Worth 36K)</span
								></span
							>
						</li>
					</ul>
					<button
						type="button"
						class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
						onclick="window.location.href='/organizations/lets-chat'"
					>
						Let's Discuss
					</button>
				</div>

				<!-- BLEND PLAN -->
				<div
					class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
				>
					<h5
						class="mb-4 text-2xl text-center font-bold text-black dark:text-white"
					>
						Blend
					</h5>
					<p
						class="text-gray-500 text-center sm:text-lg dark:text-gray-400 mb-2"
					>
						This package is available to the first 2 organizations that request
						it.
					</p>
					<div class="flex items-baseline text-gray-900 dark:text-white">
						<span class="text-3xl font-semibold">$</span>
						<span class="text-5xl font-extrabold tracking-tight">48,000</span>
						<span
							class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400"
							>/12 month</span
						>
					</div>
					<ul role="list" class="space-y-5 my-7">
						<li class="flex items-center">
							<svg
								class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>
								Website Placement</span
							>
						</li>
						<li class="flex">
							<svg
								class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
								>Quarterly Webinar or Live Stream</span
							>
						</li>

						<li class="flex decoration-gray-500">
							<svg
								class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
								>64 Hours Consultancy <span class="font-bold">(Worth 32K)</span>
							</span>
						</li>
						<li class="flex decoration-gray-500">
							<svg
								class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>
								Mid-roll on all free, unsponsored, content</span
							>
						</li>
						<li class="flex line-through decoration-gray-500">
							<svg
								class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 ms-3"
								>Blog Placement</span
							>
						</li>
						<li class="flex line-through decoration-gray-500">
							<svg
								class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 ms-3"
								>We’ll produce a 2 hour course for your product <span
									class="font-bold">(Worth 36K)</span
								></span
							>
						</li>
					</ul>
					<button
						type="button"
						class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
						onclick="window.location.href='/organizations/lets-chat'"
					>
						Let's Discuss
					</button>
				</div>

				<!-- MALT PLAN -->
				<div
					class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
				>
					<h5
						class="mb-4 text-2xl text-center font-bold text-black dark:text-white"
					>
						Malt
					</h5>
					<p
						class="text-gray-500 text-center sm:text-lg dark:text-gray-400 mb-2"
					>
						This package is available to the first organization that request it.
					</p>
					<div class="flex items-baseline text-gray-900 dark:text-white">
						<span class="text-3xl font-semibold">$</span>
						<span class="text-5xl font-extrabold tracking-tight">96,000</span>
						<span
							class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400"
							>/12 month</span
						>
					</div>
					<ul role="list" class="space-y-5 my-7">
						<li class="flex items-center">
							<svg
								class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>
								Website Placement</span
							>
						</li>
						<li class="flex">
							<svg
								class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
								>Quarterly Webinar or Live Stream</span
							>
						</li>

						<li class="flex decoration-gray-500">
							<svg
								class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
								>80 Hours Consultancy <span class="font-bold">(Worth 40K)</span
								></span
							>
						</li>
						<li class="flex decoration-gray-500">
							<svg
								class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>
								Pre-roll on all free, unsponsored, content</span
							>
						</li>
						<li class="flex decoration-gray-500">
							<svg
								class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
								>Blog Placement</span
							>
						</li>
						<li class="flex decoration-gray-500">
							<svg
								class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
								></path>
							</svg>
							<span
								class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3"
							>
								We’ll produce a 2 hour course for your product <span
									class="font-bold">(Worth 36K)</span
								>
							</span>
						</li>
					</ul>
					<button
						type="button"
						class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
						onclick="window.location.href='/organizations/lets-chat'"
					>
						Let's Discuss
					</button>
				</div>
			</div>
		</div>
	</section>

	<!-- Audience Page -->
	<section
		id="packages"
		class="callto spad set-bg bg-cover bg-bottom mt-20 pt-10 pb-10"
		data-setbg="img/call-bg.jpg"
		class=""
		style="background-image: url('/audience-bg.jpg');"
	>
		<div class="container mx-auto px-4">
			<div class="row flex justify-center">
				<div class="col-lg-8 w-full px-4">
					<div class="callto__text text-center">
						<h2
							class="text-white text-2xl sm:text-4xl font-semibold uppercase mb-9 text-shadow"
							style="font-family: 'Saira Condensed', sans-serif"
						>
							How much did you spend sponsoring your last event?
						</h2>
						<span
							class="block text-white font-bold tracking-wider text-base sm:text-lg uppercase mb-4"
							style="font-family:'Mulish', sans-serif"
							>Ask yourself this: Can the Rawkode Academy deliver more value for
							your company in 12 months than the last conference you sponsored?
							I know we can</span
						>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Support Section -->
	<section id="support" class="mt-10 mb-10">
		<div
			class="mx-4 p-4 sm:p-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
		>
			<h2 class="m-0 text-xl sm:text-2xl">
				Support the Rawkode Academy & Get in Front of a Hyper Specific Audience
				of Senior, Lead, and Principal Developers and Operators
			</h2>
		</div>
	</section>

	<style>
		.diamond-list {
			font-family: monospace;
			font-size: 2em;
			list-style: none;
			padding: 0;

			li {
				margin: 0;
				margin-bottom: 1em;
				padding-left: 1.5em;
				position: relative;

				&:after {
					content: "";
					height: 0.4em;
					width: 0.4em;
					background: #11182f;
					display: block;
					position: absolute;
					transform: rotate(45deg);
					top: 0.4em;
					left: 0;
				}
			}
		}

		.border-gradient {
			border: 3px solid;
			@apply border-gray-200 dark:border-gray-600;
		}

		@media (min-width: 1024px) {
			.border-gradient {
				border-width: 2px;
				border-image: linear-gradient(to right, #00ceff, #5f5ed7) 1;
			}
		}

		.cards:hover > .card:not(:hover) {
			filter: blur(10px);
			transform: scale(0.9, 0.9);
		}

		.arrow-list {
			list-style: none;
			padding: 0;
		}

		.arrow-list li {
			display: flex;
			align-items: center;
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
		}

		.arrow {
			color: #007bff;
			margin-left: 20px;
			margin-right: 0rem;
		}
	</style>
</Page>
