# DNS Management Requires Cloudflare "Root" Credentials
op signin --account rawkodeacademy


export CLOUDFLARE_ACCOUNT_ID="0aeb879de8e3cdde5fb3d413025222ce"
export CLOUDFLARE_TOKEN="op://Private/w3etxulw37bsqb2rsna5px7y4u/api-tokens/all-access"

export DNSIMPLE_TOKEN="op://Private/Dnsimple/api-token"
export DNSIMPLE_ACCOUNT="126046"

export TF_HTTP_PASSWORD="op://Employee/GitLab Rawkode Academy/access-tokens/project-rawkode-academy-terraform"
