# DNS Management Requires Cloudflare "Root" Credentials
op signin --account rawkodeacademy

# Load CLOUDFLARE_ACCOUNT_ID from top-level
source_up

export TF_HTTP_PASSWORD="op://sa-core-infrastructure/cloudflare/terraform-state-backend/password"
export CLOUDFLARE_ACCOUNT_ID="0aeb879de8e3cdde5fb3d413025222ce"
export CLOUDFLARE_API_TOKEN="op://Private/w3etxulw37bsqb2rsna5px7y4u/api-tokens/all-access"
export CF_API_TOKEN="op://Private/w3etxulw37bsqb2rsna5px7y4u/api-tokens/all-access"
export DNSIMPLE_TOKEN="op://Private/Dnsimple/api-token"
export DNSIMPLE_ACCOUNT="126046"

source_url "https://raw.githubusercontent.com/cachix/devenv/95f329d49a8a5289d31e0982652f7058a189bfca/direnvrc" "sha256-d+8cBpDfDBj41inrADaJt+bDWhOktwslgoP5YiGJ1v0="

use devenv
