@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

html {
  font-family: "Avenir", system-ui, sans-serif;
}

footer {
  color: #FFF;
  padding: 1.5rem;
  background-color: var(--black);
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Orbitron", system-ui, sans-serif;
}

h1 {
  @apply font-extrabold tracking-wider text-4xl md:text-5xl mt-4 mb-4
}

h2 {
  @apply font-bold tracking-wide text-2xl md:text-3xl mt-4 mb-4
}

h3 {
  @apply font-semibold tracking-normal text-lg md:text-xl mt-4 mb-4
}

ul {
  @apply list-disc list-inside
}

ol {
  @apply list-decimal list-inside
}

strong {
  @apply uppercase font-semibold text-tertiary
}

header {
  display: flex;
  padding: 1rem 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.content {
  flex: 1;
}

.nav-toggler,
.toggler {
  padding: 1rem;
  height: 3.75rem;
  width: 3.75rem;
}

.desktop-navigation {
  display: none;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media only screen and (min-width: 768px) {

  header {
    padding: 1.5rem;
    justify-content: space-between;
    gap: 1rem;
  }

  .toggler {
    justify-self: flex-end;
  }

  .nav-toggler {
    display: none;
  }

  .desktop-navigation {
    display: flex;
  }
}
