@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #23282D;
  --white: #FFFFFF;
  --light-grey: #E9ECEE;
  --academy-teal: #04B59C;
  --academy-green: #85FF95;
  --rawkode-purple: #5F5ED7;
  --rawkode-blue: #00CEFF;
  --rawkode-pink: #BD00FF;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-size: 16px;
  line-height: 1.5rem;
}

html {
  font-family: "Avenir", system-ui, sans-serif;
}

footer {
  color: var(--white);
  padding: 1.5rem;
  background-color: var(--black);
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-family: "Orbitron", system-ui, sans-serif;
}

h1 {
  font-size: 1.875rem;
  line-height: 2.375rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 600;
  letter-spacing: 0;
}

@media only screen and (min-width: 768px) {

  h1 {
    font-size: 3.75rem;
    line-height: 4.625rem;
  }

  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

header {
  display: flex;
  padding: 1rem 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.content {
  flex: 1;
}

.nav-toggler,
.toggler {
  padding: 1rem;
  height: 3.75rem;
  width: 3.75rem;
}

.desktop-navigation {
  display: none;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media only screen and (min-width: 768px) {

  header {
    padding: 1.5rem 2.5rem;
    justify-content: space-between;
    gap: 1rem;
  }

  .toggler {
    justify-self: flex-end;
  }

  .nav-toggler {
    display: none;
  }

  .desktop-navigation {
    display: flex;
  }
}
