:root {
  --black: "#23282D";
  --white: "#FFFFFF";
  --academy-teal: "#04B59C";
  --academy-green: "#85FF95";
  --rawkode-purple: "#5F5ED7";
  --rawkode-blue: "#00CEFF";
  --rawkode-pink: "#BD00FF";
}
