section {
  padding: 2.5rem 1.5rem;
}

section p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.background {
  position: relative;
  background: linear-gradient(100deg, var(--academy-teal) 25%, var(--academy-green) 75%);
}

.section--hero {
  position: inherit;
  height: 50vh;
  color: var(--white);
  z-index: 5;
}

.section--hero h1,
.section--hero p {
  max-width: 85%;
  text-shadow: 4px 4px rgb(0 0 0 / 5%);
}

@media only screen and (min-width: 768px) {

  section {
    padding: 5rem 2.5rem;
  }

  .background::after {
    content: '';
    background-image: url('/academy-logo-circular.svg');
    background-repeat: no-repeat;
    display: flex;
    background-size: 750px 750px;
    height: 750px;
    width: 750px;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 0;
  }

  .section--hero {
    height: 65vh;
  }

  .section--hero h1,
  .section--hero p {
    max-width: 85%;
  }

  .section--shows {
    padding: 7.5rem 2.5rem;
  }
}

@media only screen and (min-width: 1200px) {

  .section--hero h1 {
    max-width: 50%;
  }

  .section--hero p {
    max-width: 40%;
  }
}

.section--shows {
  background-color: rgba(95, 94, 215, 0.1);
  background-color: var(--light-grey);
}

.section--work-together {
  background: linear-gradient(91.97deg, var(--academy-green) 0%, var(--academy-teal) 100%);
}

.section--hero a,
.section--work-together a {
  background-color: var(--rawkode-purple);
  padding: 1rem 1.75rem;
  border-radius: 100px;
  color: var(--white);
  display: flex;
  justify-content: center;
  width: fit-content;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 2.5rem;
  transition: all 300ms ease-in-out;
}

.section--hero a:hover,
.section--work-together a:hover {
  background-color: var(--rawkode-purple-dark);
  transition: all 300ms ease-in-out;
  box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.1);
}

.section--work-together img {
  display: none;
}

.shows__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.shows__card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.shows__card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}

.card__image {
  background-color: var(--black);
  padding: 1.5rem 0;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

.card__image img {
  margin: 0 auto;
}

.card__copy {
  padding: 1.5rem;
}

.card__heading {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.card__sub-heading {
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
}

.card__description {
  font-size: 1rem;
  line-height: 1.4rem;
}

.section--technologies {
  padding-left: 0;
  padding-right: 0;
  background-color: var(--light-grey);
}

.section--technologies h2,
.section--technologies p {
  padding-left: 1.5rem;
}

.technologies__container {
  display: flex;
  gap: 2.5rem;
  margin-top: 1.5rem;
  padding: 0 1.5rem;
  overflow-x: scroll;
  overflow-y: visible;
  scrollbar-width: none;
}

.technologies__container::-webkit-scrollbar {
  display: none;
}

.technologies__container img {
  flex-shrink: 0;
  height: 100px;
  width: 100px;
  max-width: fit-content;
}

.technologies__container div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
}

.technologies__container div p {
  padding: 0;
  white-space: nowrap;
}

.section--testimonial {
  text-align: center;
  padding: 2.5rem 0;
}

.testimonials__container {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  justify-content: center;
  gap: 2.5rem;
  scrollbar-width: none;
}

.testimonials__container::-webkit-scrollbar {
  display: none;
}

.testimonials__card {
  border-radius: 1rem;
  width: 100%;
  color: var(--white);
  flex-shrink: 0;
  padding: 1rem;
  background: linear-gradient(to right, var(--rawkode-purple), var(--rawkode-blue));
  position: relative;
}

.testimonials__card p:last-of-type {
  margin: 1.5rem auto 0;
  font-weight: 500;
}

hr {
  border-top: 2px solid var(--light-grey);
  margin: 0 1.5rem;
}

.section--endorsements {
  text-align: center;
}

.companies__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.company__card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
}

@media only screen and (min-width: 768px) {

  .companies__container {
    gap: 1.5rem;
    padding: 2rem 0 4rem;
  }

  .company__card {
    height: auto;
    width: 10.625rem;
  }

  .shows__card {
    width: 335px;
  }

  .section--work-together {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 0;
    height: auto;
  }

  .section--work-together div {
    width: 33%;
  }

  .section--work-together img {
    display: block;
  }

  .section--technologies h2,
  .section--technologies p {
    padding-left: 2.5rem;
  }

  .technologies__container {
    padding: 1rem 2.5rem 0;
  }

  hr {
    margin: 0 2.5rem;
  }

  .section--testimonial {
    margin: 0 auto;
    padding: 5rem 0;
  }

  .testimonials__card {
    width: 750px;
    padding: 2.5rem;
  }

  .background--logo {
    background-image: url('/rawkode-icon.svg');
    background-repeat: no-repeat;
    background-position: -900px -20px;
    background-size: 105%;
  }
}
