export SERVICE_NAME="videos"
export CLOUDFLARE_R2_ACCESS_KEY="op://Employee/w3etxulw37bsqb2rsna5px7y4u/rawkode-academy-videos/access-key"
export CLOUDFLARE_R2_SECRET_KEY="op://Employee/w3etxulw37bsqb2rsna5px7y4u/rawkode-academy-videos/secret-key"
export LIBSQL_TOKEN="op://sa.rawkode.academy/turso/platform-group/api-token"
