---

---

<section class="bg-white dark:bg-gray-900">
	<div class="max-w-screen-xl px-4 mx-auto text-center py-4 lg:py-8 lg:px-6">
		<div class="mx-auto mb-8 max-w-screen-md text-center md:mb-16">
			<h2
				class="text-3xl tracking-tight font-extrabold text-gray-900 md:text-4xl dark:text-white"
			>
				Don't just take our word for it ...
			</h2>
		</div>
		<figure class="max-w-screen-md mx-auto">
			<svg
				class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600"
				viewBox="0 0 24 27"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
					fill="currentColor"></path>
			</svg>
			<blockquote>
				<p class="text-2xl font-medium text-gray-900 dark:text-white">
					"Rawkode Academy has done an amazing job helping developers be
					introduced to the world of server-side WebAssembly, promoting Spin
					project and Fermyon Cloud. We've heard from many developers, that the
					Advent of Spin challenges, created by Rawkode, was the perfect
					opportunity to get hands-on, and we've seen notable results in
					developers joining our community and using our services."
				</p>
			</blockquote>
			<figcaption class="flex items-center justify-center mt-6 space-x-3">
				<img
					class="w-6 h-6 rounded-full"
					src="https://www.fermyon.com/static/image/profile/mikkel-hegnhoj.jpg"
					alt="profile picture"
				/>
				<a target="_blank" href="https://fermyon.com">
					<div
						class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700"
					>
						<div class="pr-3 font-medium text-gray-900 dark:text-white">
							<p>Mikkel Mørk Hegnhøj</p>
						</div>
						<div
							class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400"
						>
							Head of DevRel at Fermyon
						</div>
					</div>
				</a>
			</figcaption>
		</figure>
	</div>
</section>
