// section style
.section {
  @apply py-16;
}

// container
.container {
  @apply mx-auto box-border px-4;
}

// form style
.form-inputs * {
  @apply mb-5 leading-10;
}

// social icon style
.social-icons {
  li {
    @apply mr-2 inline-block last:mr-0;
    a {
      @apply flex h-11 w-11 items-center rounded-full border  border-border text-center leading-[2.75];
      &:hover {
        @apply hover:border-primary;
        svg {
          @apply text-primary;
        }
      }
      svg {
        @apply m-auto h-6 text-lg text-text;
      }
    }
  }
}

// notice
.notice {
  .notice-body {
    p {
      @apply my-0 text-[#666666];
    }
  }

  &.note {
    .notice-head {
      @apply bg-[#6ab0de];
    }
    .notice-body {
      @apply bg-[rgb(227,244,255)];
    }
  }

  &.tip {
    .notice-head {
      @apply bg-[#78c578];
    }
    .notice-body {
      @apply bg-[#e2ffe2];
    }
  }

  &.info {
    .notice-head {
      @apply bg-[#f0b37e];
    }
    .notice-body {
      @apply bg-[#ffedde];
    }
  }

  &.warning {
    .notice-head {
      @apply bg-[#e06f6c];
    }
    .notice-body {
      @apply bg-[#ffdad8];
    }
  }
}

.active-tab {
  @apply bg-theme-light;
}

// form style
.form-input,
.form-textarea {
  @apply border-border focus:border-primary focus:ring-transparent;
}
// circle
.has-circle {
  @apply absolute left-2 top-0 -z-10 h-[calc(50%+10rem)] w-[calc(100%-0.875rem)]  rounded-3xl;
  span {
    @apply absolute rounded-full bg-primary/20;
    &.fill {
      @apply bg-primary opacity-90;
    }
  }
}

.ratio-32 {
  @apply h-8 w-8;
}
.ratio-85 {
  @apply h-[85px] w-[85px];
}
.ratio-20 {
  @apply h-5 w-5;
}
.ratio-47 {
  @apply h-[47px] w-[47px];
}
.ratio-62 {
  @apply h-[62px] w-[62px];
}
.ratio-73 {
  @apply h-[73px] w-[73px];
}
.ratio-37 {
  @apply h-[37px] w-[37px];
}
.ratio-65 {
  @apply h-[65px] w-[65px];
}
// feature section
.section-title {
  @apply mb-10 text-center;
  .title {
    @apply relative mb-10 text-h2-sm font-semibold capitalize leading-[1.3];
    &::after {
      @apply absolute -bottom-5 left-[50%] h-[5px] w-[4.3rem] -translate-x-[50%] rounded-[1.8rem] bg-primary content-[""];
    }
  }
  .service-title {
    @apply relative mb-10 text-left text-h2-sm font-semibold capitalize leading-[1.3];
    &::after {
      @apply absolute -bottom-5 left-0 h-[5px] w-[4.3rem] -translate-x-0 rounded-[1.8rem] bg-primary content-[""];
    }
  }
}

.features-card {
  @apply mx-[0.9rem] my-5 rounded-md border border-solid border-transparent px-[1.875rem] py-[4.3rem] text-center shadow-[0px_4px_25px_rgba(0,0,0,.05)] duration-300 ease-[ease] hover:-translate-y-[2px] hover:border-primary/10 hover:shadow-none;
}
.icon {
  @apply relative z-10 m-auto block h-20 w-20 overflow-hidden rounded-[0.9rem] border border-solid border-primary/10 text-h2 leading-[5rem] duration-150;
  &::after {
    @apply absolute left-0 top-0 -z-10 block h-0 w-full rounded-[0.9rem] bg-primary/5 duration-300 ease-[ease] content-[""];
  }
  svg {
    @apply h-9 w-9;
  }
}
.pagination {
  @apply flex w-full translate-x-0  justify-center #{!important};
  .swiper-pagination-bullet {
    @apply h-[15px] w-[15px];

    &-active-main {
      @apply bg-primary;
    }
  }
}

// video popup

.has-bg-animate {
  &::before {
    @apply absolute left-0 top-0 h-full w-full scale-0 rounded-[1.8rem] bg-primary/5 duration-[1.5s] ease-[cubic-bezier(0.105,.84,.44,1)] content-[""];
  }
  &.aos-animate {
    @apply before:scale-[1];
  }
}
.play-button {
  @apply absolute left-1/2 top-1/2 h-[5.6rem] w-[5.6rem] -translate-x-1/2 -translate-y-1/2 rounded-full border-0 bg-primary pl-1 pt-[2px] text-center text-white outline-0 duration-300;
  &:hover {
    @apply -translate-x-1/2 -translate-y-1/2 scale-[1.1];
  }
  &::before {
    @apply absolute -inset-1 rounded-[50%] border-[12px]  border-solid border-primary/50 content-[""];
    animation: pulseBefore 2s infinite;
  }
  &::after {
    @apply absolute -inset-1 rounded-[50%]  border-[12px] border-solid  border-primary/50 content-[""];
    animation: pulseAfter 2s infinite;
  }
  svg {
    @apply inline-block h-7 w-7;
  }
}

@keyframes pulseBefore {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(254, 96, 25, 0.6);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 25px rgba(254, 96, 25, 0);
  }

  100% {
    transform: scale(0.8);
  }
}

@keyframes pulseAfter {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(254, 96, 25, 0.8);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 25px rgba(254, 96, 25, 0);
  }

  100% {
    transform: scale(0.8);
  }
}

// testimonial
.testimonials {
  .pagination {
    @apply -translate-y-5 sm:translate-y-0;
    .swiper-pagination-bullet {
      &-active-main {
        @apply bg-white sm:bg-primary;
      }
    }
  }
}

.testimonial-content {
  img {
    @apply inline;
  }
  svg {
    @apply mb-4 inline text-7xl;
  }
  span {
    &.author {
      @apply mt-7 inline-block rounded-md bg-body p-7 shadow-[0_10px_50px_rgba(0,0,0,.08)] md:mt-5 lg:mt-8 xl:mt-5;
      img {
        @apply mb-4;
      }
    }
  }
  .pagination {
    @apply -translate-y-5 sm:translate-y-0;
    .swiper-pagination-bullet {
      &-active-main {
        @apply bg-white sm:bg-primary;
      }
    }
  }
}

// blog section
.user-image {
  @apply relative z-10 h-14 w-14 rounded-full p-1;
  &::before {
    @apply absolute left-0 top-0 -z-10 h-full w-full rounded-full border-2 border-primary content-[""];
  }
}

// about
.team-image {
  @apply relative z-10 p-8;
  &::before {
    @apply absolute left-[2.8rem] top-[2.8rem] -z-10 h-[calc(100%-4.3rem)] w-[calc(100%-4.3rem)] rounded-full bg-primary p-8 opacity-10 content-[""];
  }
}
// career
.benefits-item {
  @apply mt-8;
  svg {
    @apply mb-2 inline h-11 w-11 text-primary;
  }
}
.career {
  .has-bg-animate {
    &::after {
      @apply absolute left-0 top-0 h-full w-full bg-[url('/images/career/download.svg')] bg-cover bg-center bg-no-repeat content-[""];
    }
  }
}
.form-control {
  @apply block h-14 w-full rounded-md border-2 border-solid border-primary/10 border-l-primary/50 bg-primary/5 p-5 duration-300 focus:border-primary/50 focus:outline-none focus:ring-0;
}
// signin and signup
.user-access {
  @apply relative z-10;
  &::before {
    @apply absolute left-0 top-0 h-[25rem] min-h-[auto] w-full  rounded-b-[500px] bg-primary/10 content-[""] lg:h-full lg:min-h-screen lg:w-[46%] lg:rounded-none;
  }
}

.pricing-switch {
  .toggle {
    @apply relative z-10 h-9 cursor-pointer;
    .pricing-check {
      @apply absolute z-30 h-full w-full cursor-pointer opacity-0;
    }
    .switch {
      @apply relative inline-block h-full w-[4.3rem] rounded-[0.9rem] border border-solid border-primary;
      &::after {
        @apply absolute left-[0.2rem] top-[0.3rem] z-20 h-6 w-6 rounded-full bg-primary duration-300 ease-[cubic-bezier(.075,.82,.165,1)] content-[""];
      }
    }
  }
}
// contatct
.contact-widget {
  @apply mt-7;
  li {
    @apply mb-3 last:mb-0;
    a {
      @apply inline-block  rounded-lg border border-transparent bg-primary/5 px-5 py-1 text-primary hover:border-primary;
    }
  }
  svg {
    @apply inline;
  }
}

// badge
.badge {
  @apply relative top-[0.625rem] rounded-md px-[0.8rem] py-[0.45rem] text-xs font-semibold text-white;
  &.added {
    @apply bg-[#00ce92];
  }
  &.remove {
    @apply bg-[#973cff];
  }
  &.depreciate {
    @apply bg-[#ff3158];
  }
  &.changed {
    @apply bg-[#3a9cff];
  }
  &.security {
    @apply bg-[#9c275f];
  }
}
// youtube video
.youtube {
  div {
    @apply flex justify-center;
  }
}

.content {
  @apply prose max-w-none;
  @apply prose-headings:mb-[.9em] prose-headings:mt-[.5em] prose-headings:font-bold prose-headings:text-dark;
  @apply prose-h1:text-h1-sm md:prose-h1:text-h1;
  @apply prose-h2:text-h2-sm md:prose-h2:text-h2;
  @apply prose-h3:text-h3-sm md:prose-h3:text-h3;
  @apply prose-hr:border-border;
  @apply prose-p:text-base prose-p:text-text;
  @apply prose-blockquote:px-4 prose-blockquote:py-1 prose-blockquote:text-dark;
  @apply prose-code:px-1 prose-code:text-primary;
  @apply prose-pre:rounded-md;
  @apply prose-strong:text-dark;
  @apply prose-a:text-primary prose-a:no-underline hover:prose-a:underline;
  @apply prose-li:text-text;
  @apply prose-table:overflow-hidden prose-table:rounded-md prose-table:border prose-table:border-border;
  @apply prose-thead:border-border prose-thead:bg-theme-light prose-th:px-4 prose-th:py-4 prose-th:text-dark;
  @apply prose-tr:border-border;
  @apply prose-td:px-3 prose-td:py-4;
  @apply marker:text-primary;
  @apply prose-img:rounded-md;
}
