[Container]
Image=codeberg.org/forgejo/forgejo:11.0.2
ContainerName=forgejo
AutoUpdate=registry
LogDriver=journald

HostName=forgejo
PublishPort=3000:3000

Volume=forgejo-data:/data:Z
Volume=forgejo-config:/etc/forgejo:Z

Network=forgejo-network
UserNS=keep-id

# Use secrets for sensitive data
Secret=forgejo-secrets,type=env

Environment=USER_UID=1000
Environment=USER_GID=1000
Environment=FORGEJO__database__DB_TYPE=postgres
Environment=FORGEJO__database__HOST=postgres:5432
Environment=FORGEJO__database__NAME=forgejo
Environment=FORGEJO__database__USER=forgejo
Environment=FORGEJO__server__DOMAIN=code.example.org
Environment=FORGEJO__server__ROOT_URL=https://code.example.org
Environment=FORGEJO__server__HTTP_PORT=3000
Environment=FORGEJO__server__DISABLE_SSH=true

[Unit]
After=network-online.target forgejo-network.service postgres.service
Requires=forgejo-network.service postgres.service

[Service]
Restart=on-success

[Install]
WantedBy=default.target
