[Container]
Image=docker.io/library/postgres:16-alpine
ContainerName=postgres
AutoUpdate=registry
LogDriver=journald

HostName=postgres
Network=forgejo-network
UserNS=keep-id

Volume=forgejo-postgres-data:/var/lib/postgresql/data:Z

# Use secret for database password
Secret=forgejo-secrets,type=env

Environment=POSTGRES_DB=forgejo
Environment=POSTGRES_USER=forgejo

[Unit]
After=network-online.target forgejo-network.service
Requires=forgejo-network.service

[Service]
Restart=on-success

[Install]
WantedBy=default.target
