[Container]
Image=docker.io/library/postgres:16-alpine
ContainerName=postgres
AutoUpdate=registry
LogDriver=journald

HostName=postgres
Network=forgejo-network
UserNS=keep-id

Volume=forgejo-postgres-data:/var/lib/postgresql/data:Z

Environment=POSTGRES_DB=forgejo
Environment=POSTGRES_USER=forgejo
Environment=POSTGRES_PASSWORD=postgrespassword

[Unit]
After=network-online.target

[Service]
Restart=on-success

[Install]
WantedBy=default.target
