---

---

<section class="bg-white dark:bg-gray-900">
	<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
		<h2
			class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
		>
			Sponsored a Conference Before?
		</h2>
		<p class="mb-3 font-light text-gray-500 dark:text-gray-400 sm:text-xl">
			Of course you have, we all have. We spend tens of thousands of dollars
			paying the conference organizer, flourishing a booth, flying the team
			over, and hosting a happy-hour.
		</p>
		<p class="mb-3 font-light text-gray-500 dark:text-gray-400 sm:text-xl">
			The conference is over after two days and you're looking at the "lead"
			retirevel and wondering how many of the 200 scans will actually reply to
			your SDRs.
		</p>
		<p class="mb-8 font-light text-gray-500 dark:text-gray-400 sm:text-xl">
			For a comparible price, you can partner with us and we work together for a
			WHOLE YEAR. We are fully invested in supporting your needs and that of the
			developrs on our platform.
		</p>
		<p class="mb-8 font-light text-gray-500 dark:text-gray-400 sm:text-xl">
			We can all be successful, for a fraction of the effort.
		</p>
	</div>
</section>
