---
import type { QueryData } from "@supabase/supabase-js";
import type { GetStaticPaths, GetStaticPathsResult } from "astro";
import { supabase } from "../../lib/supabase";
import Page from "../../wrappers/page.astro";

export const getStaticPaths: GetStaticPaths =
	async (): Promise<GetStaticPathsResult> => {
		const videos = supabase
			.from("episodes")
			.select(
				"slug, title, thumbnail_url, people(github_handle), episode_channel(remote_id)",
			);

		type EpisodeWithChannels = QueryData<typeof videos>;

		const { data, error } = await videos;
		if (error) throw error;

		const episodeWithChannels: EpisodeWithChannels = data;

		return episodeWithChannels.map((video) => {
			console.log(video);

			return {
				params: {
					slug: video.slug,
				},
				props: {
					video,
				},
			};
		});
	};

const { video } = Astro.props;

console.log(video);
---

<Page title="Video">
	<article
		class="mx-auto max-w-screen-2xl px-16 py-8 format format-sm sm:format-base lg:format-lg format-green dark:format-invert"
	>
		<h1>{video.title}</h1>
		<iframe
			width="560"
			height="315"
			src=`https://www.youtube.com/embed/${video.episode_channel[0].remote_id}`
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			allowfullscreen></iframe>
	</article>
</Page>
