.theme-rawkode-academy {
  --color-primary: 004 181 156;
  --color-secondary: 133 259 149;
  --color-black: 35 40 45;
}

.theme-rawkode {
  --color-primary: 95 94 215;
  --color-secondary: 0 206 255;
  --color-black: 35 40 45;
}
