source_up

op signin --account rawkodeacademy

export TF_TOKEN_app_terraform_io="op://sa-core-infrastructure.terraform-bootstrap/terraform-cloud/password"
export CLOUDFLARE_API_TOKEN="op://sa-core-infrastructure.terraform-bootstrap/cloudflare/password"
