dotenv_if_exists .env

export CLOUDFLARE_API_TOKEN="op://sa.rawkode.academy/cloudflare/password"
export RESEND_API_KEY="op://Employee/Resend/api-keys/website"
export ENVIRONMENT="dev"

export INFLUX_HOST="https://eu-central-1-1.aws.cloud2.influxdata.com"
export INFLUX_ORG="Rawkode Academy"
export INFLUX_TOKEN="op://Employee/InfluxDB Cloud/rawkode.academy/all-access"
export INFLUX_BUCKET="analytics"
export GRAFANA_SOURCE_MAPS="op://Employee/Grafana/api-tokens/source-maps"
