dotenv_if_exists .env

export CLOUDFLARE_API_TOKEN="op://sa.rawkode.academy/cloudflare/password"
export CLOUDFLARE_CACHE_BUSTER_TOKEN="op://Employee/w3etxulw37bsqb2rsna5px7y4u/api-tokens/cache-buster"
export GRAFANA_SOURCE_MAPS="op://Employee/Grafana/api-tokens/source-maps"
export GRAPHQL_ENDPOINT="https://api.rawkode.academy/graphql"
export INFLUXDB_TOKEN="op://Employee/InfluxDB Cloud/rawkode.academy/all-access"
export RESEND_API_KEY="op://Employee/Resend/api-keys/website"
export ZULIP_API_KEY="op://sa-core-infrastructure.bootstrap/Zulip Self-Hosted/bots/rocko"


