dotenv_if_exists .env

export CLOUDFLARE_API_TOKEN="op://sa.rawkode.academy/cloudflare/password"
export GRAFANA_SOURCE_MAPS="op://Employee/Grafana/api-tokens/source-maps"
export INFLUXDB_TOKEN="op://Employee/InfluxDB Cloud/rawkode.academy/all-access"
export RESEND_API_KEY="op://Employee/Resend/api-keys/website"
export ZULIP_API_KEY="op://sa-core-infrastructure.bootstrap/Zulip Self-Hosted/bots/rocko"
