---
import SignUpBanner from "@components/SignUpBanner.astro";
import Base from "@layouts/Base.astro";
import { IoLogoFacebook, IoLogoGoogle } from "react-icons/io5/index.js";
---

<Base title="Signup" landingPage={true}>
  <section class="section user-access">
    <div class="container">
      <div class="row items-center justify-around">
        <SignUpBanner />
        <div
          class="user-access-form col-11 mt-24 sm:col-10 md:col-8 lg:col-4 lg:mt-0"
          data-aos="fade-up"
          data-aos-delay="150"
        >
          <div class="section-title text-center">
            <h2 class="title">Sign Up</h2>
          </div>
          <form method="POST">
            <div class="mb-6">
              <label
                class="mb-2 block font-medium text-theme-dark/70"
                for="subject">Full Name</label
              >
              <input
                class="form-control w-full"
                name="name"
                type="text"
                placeholder="Your Full Name"
                required
              />
            </div>
            <div class="mb-6">
              <label
                class="mb-2 block font-medium text-theme-dark/70"
                for="subject">Enter Email Address</label
              >
              <input
                class="form-control w-full"
                name="email"
                type="email"
                placeholder="Type Your Email Address"
              />
            </div>
            <div class="mb-6">
              <label
                class="mb-2 block font-medium text-theme-dark/70"
                for="subject">Password</label
              >
              <input
                class="form-control w-full"
                name="password"
                type="password"
                placeholder="Enter Your Password"
                required
              />
            </div>

            <button class="btn btn-primary mt-6 w-full">Submit Now</button>
          </form>
          <p class="mt-6 text-center font-semibold text-theme-dark">
            Otherwise Log In With
          </p>
          <div class="block sm:flex">
            <a
              href="#"
              class="btn btn-primary mr-0 mt-4 flex w-full items-center justify-center bg-[#4064ad] sm:mr-2"
            >
              <span class="mr-2"><IoLogoFacebook /></span> Facebook</a
            >
            <a
              href="#"
              class="btn btn-primary ml-0 mt-4 flex w-full items-center justify-center bg-[#e24d48] pb-0 pt-0 text-white sm:ml-2"
            >
              <span class="mr-2"><IoLogoGoogle /></span> Google
            </a>
          </div>
          <p class="mb-0 mt-3 text-center">
            Already Have An Account? <a
              class="text-primary hover:underline"
              href="/signin">Sign In</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</Base>
