---
import Featured from "@components/blog/featured/section.astro";
import Page from "@wrappers/page.astro";
---

<style>
	a {
		@apply text-primary;
	}
</style>

<Page title="Blog">
	<h1>Our Blog</h1>
	<p class="text-gray-500 font-semibold sm:text-xl dark:text-gray-400">
		We're a community of learners. We're always learning, and we're always
		sharing what we're learning. Our blog is a place for us to share our thoughts, ideas, and
		experiences.
	</p>
	<p class="mt-8 font-light text-gray-500 dark:text-gray-400">
		Want to share something you've recently learned? Awesome. Why not <a
			target="_blank"
			href="https://github.com/RawkodeAcademy/RawkodeAcademy"
			>submit a pull request</a
		>?
	</p>
	<Featured />
	<!-- <List /> -->
</Page>
